/* Home Page */
body
{
   background-image: linear-gradient(to left,#01201d,#5e804d);
   overflow-x: hidden;
}

/* Navbar section */
.navbar {
  padding: 32px 32px 32px;
  padding-right: 32px;
    font-family: 'Courier New', Courier, monospace;
  }
  .navbar-brand:hover {
    color:#F2A929;
  }
  .navbar-brand {
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
  }
  /* .home-nav-collapse {
    color: white;
  } */

  nav{
    border-bottom: 1px solid white;
    background: rgba(0, 0, 0, 0.4);
  }

  
  .nav-item{
      margin: 16px;
      
  }
  .nav-link{
    color: #fff;
  }
  
  .nav-link:hover {
    color:#F2A929;
  }

  /* Title section */

  .title-text {
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 32px;
    margin-left: 32px;
    padding-top: 80px;
  }
  .title-section {
    padding-bottom: 112px;
    padding-top: 32px;
  }
  /* .container
  {
    box-sizing: border-box;
  } */
  .img_class {
    width: 100%;
    height: auto;
    padding: 10%;
  }
  .box{
  	padding: 2%;
  }
  .row{
    position: relative;
    margin-top: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .register-left{
    width: 25%;
    height: auto;
    border: black;
    align-self: center;
    text-align: center;
    background: white;
    border-radius: 4%;
    padding-top: 50px;
    padding-bottom: 25px;
    top: 0;
    transition: top 0.5s ease;
    margin: auto;
    -moz-box-shadow:    7px 10px 11px 0px rgb(46, 45, 45);
    -webkit-box-shadow: 7px 10px 11px 0px rgb(46, 45, 45);
    box-shadow:         7px 10px 11px 0px rgb(46, 45, 45);
  }

  .register-left:hover{
    top: -10px;
}

  .register-left h2
  {
    font-size: 200%;
    text-align: center;
    margin-bottom: 10px;
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .register-left .reg-btn
  { 
    font-size: 100%;
    float: center;
    text-align: center;
    border: none;
    width: 25%;
    background: #000;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .register-left .btn-primary:hover
  {
      background: rgb(252, 187, 46);
      color: white
  }

  .panel-footer.panel-custom {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow-x: hidden;
    margin-bottom: 0%;
   

}

  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #F2A929;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; /*background-color: #fcc76b;*/ border-radius: 2%; }
    .navbar .nav-item:hover .dropdown-item:hover{ color: white; background-color: #727272; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }
  /* .btn {
    margin-top: 1rem;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-right: 35.2px;
    padding-left: 35.2px;
    margin-left: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  .btn-light{
    background: rgb(235, 88, 122);
    border:rgb(235, 88, 122);
    border-width: 1.6px;
    border-style: solid;
    border-color: #263E53;
  }
  
  .btn-outline-light{
    border: #fff;
    border-width: 1.6px;
    border-style: solid;
    border-color: #fff;
  }

  .but-text1 {
    text-decoration: none;
    color: #fff;
    
  }
  .but-text1:hover {
    color: black;
  }
  .but-text2 {
    text-decoration: none;
    color: #fff;
  }
  .but-text2:hover {
    color: black;
    
  }
  
  .buttons {
    padding-top: 16px;
    padding-left: 16px;
  }
 
   */