

  body{
    overflow-x: none;
  }

  .navbar {
    padding: 32px 32px 32px;
    padding-right: 32px;
      font-family: 'Courier New', Courier, monospace;
    }
    .navbar-brand:hover {
      color:#F2A929;
    }
    .navbar-brand {
      color:#fff;
      font-family: 'Courier New', Courier, monospace;
      font-size: 48px;
    }
    /* .home-nav-collapse {
      color: white;
    } */
  
    nav{
      border-bottom: 1px solid white;
      background: rgba(0, 0, 0, 0.4);
    }
  
    
    .nav-item{
        margin: 16px;
        
    }
    .nav-link{
      color: #fff;
    }
    
    .nav-link:hover {
      color:#F2A929;
    }


  /* Title section */
  .title-text {
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 32px;
    margin-left: 32px;
    padding-top: 80px;
  }

  .title-section {
    padding-bottom: 112px;
    padding-top: 32px;
  }
  
  body
  {
     background-image: linear-gradient(to left,#01201d,#5e804d);
     
  }
  
  
  /* Float columns side by side */
  .column {
    position: relative;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 6%;
    padding: 0 10px;
    width: 23%;
  }
  
  .content h5{
    font-weight: bold;
    text-align: left;
    float: left;
  }
  
  .content p{
      float: right;
      text-align: right;
      font-size: 18px;
      color: rgb(255, 38, 103);
  }
  
  .left{
    width: 95%;
    padding-top: 15px;
    padding-left: 4px;
  }
  
  .right{
    padding-left: 2px;
    width: 25%;
    color:  rgb(45, 161, 255);
  }
  
  .right i{
      font-size: large;
      color:rgb(255, 17, 108);
  }
  
  .right:hover{
      cursor: pointer;
      background-color: #928d8d2a;
  }
  
  
  /* Remove extra left and right margins, due to padding */
  .row {
      
      margin-left: 0px;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2); */
    padding: 15px;
    height: 420px;
    width: 330px;
    top: 0;
    text-align: center;
    background-color: #e6e0e04f;
    transition: top 0.5s ease;
    background: #fff;
    border-radius: 5%;
    -moz-box-shadow:    7px 10px 11px 0px rgb(46, 45, 45);
    -webkit-box-shadow: 7px 10px 11px 0px rgb(46, 45, 45);
    box-shadow:         7px 10px 11px 0px rgb(46, 45, 45);

  }
  
  .card:hover{
      top: -10px;
  }
  
  @media screen and (min-width:340px) and (max-width:670px){
  
  
    .column{
        position: relative;
        margin-left: 4%;
        margin-right: 3%;
        margin-top: 6%;
        padding: 0 0px;
        width: 55%;
    }
    .card{ 
        padding: 5px;
        height: 400px;
        width: 300px;
    }
  
    
  }
  
  @media screen and (min-width:671px) and (max-width:850px){
   
    
    .column{
        position: relative;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 6%;
        padding: 0 0px;
        width: 50%;
    }
    .card{ 
        padding: 5px;
        height: 400px;
        width: 300px;
    }
  
    
  }

@media screen and (min-width:851px) and (max-width:900px){
    
    
    .column{
        position: relative;
        margin-left: 3%;
        margin-right: 0px;
        margin-top: 6%;
        padding: 0 0px;
        width: 45%;
    }
    .card{ 
        padding: 5px;
        height: 400px;
        width: 300px;
        
    }
  
    
  }

@media screen and (min-width:901px) and (max-width:1100px){
    
    
    .column{
        position: relative;
        margin-left: 3.5%;
        margin-right: 0px;
        margin-top: 6%;
        padding: 0 0px;
        width: 40%;
    }
    .card{ 
        padding: 5px;
        height: 400px;
        width: 300px;
        
    }
  
    
  }
  
  h2
  {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;

  }

  img{
    border-radius: 7%;
    padding: 10px;
  }



  /* @media all and (min-width: 1302px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #F2A929;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; border-radius: 2%; }
    .navbar .nav-item:hover .dropdown-item:hover{ color: white; background-color: #727272; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  } */
  
