{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Indoor plant- Aloe vera</title>
  <link rel="stylesheet" href="{% static 'css_info/indoor/Aloevera.css' %}">
  <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <script src="{% static 'js/scroll.js' %}"></script>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->


  <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <a class="navbar-brand" href="/">TreeAsure</a>
    <button
      class="navbar-toggler btn-outline-light"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>
    
    <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#intro">Introduction</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#climate">Climate & Requirements</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#taking_care">Taking Care</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#uses_benefits">Uses & Benefits</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="home-nav-link nav-link" href="/about/">About us</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
        </li> -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/logout/">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        ALOE VERA
      </span>
    </div>
  </div>

  <section class="section section-dark" id="intro">
    <h2></h2>
    <p>
      Aloe vera is a succulent plant species of the genus Aloe. An evergreen perennial, it originates from the Arabian
      Peninsula, but grows wild in tropical, semi-tropical, and arid climates around the world. It is cultivated for
      agricultural and medicinal uses. The species is also used for decorative purposes and grows successfully indoors
      as a potted plant.

    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border">
        CONDITIONS/REQUIREMENTS
      </span>
    </div>
  </div>

  <section class="section section-dark" id="climate">
    <h2></h2>
    <p>
    <h2><u>Climate:</u></h2>
    The Aloe species are often thought to grow only in warm and dry climates. In fact, however, Aloe vera and
    many other Aloe species can grow and grow in a variety of climatic environments. These include both desert and
    alpine sites. However, a suitable climate for Aloe to become efficient crops is that of tropical and subtropical
    regions.
    <br>
    <h2><u>Soil:</u></h2>
    All members of the Aloe genus require sandy or gravelly soil with very good drainage to reduce the risk of
    root rot and nutritional deficiencies. When planted in containers, aloe vera plants do well in a mixture of
    commercial potting mix with extra sand, granite grit or perlite added.
    This plant naturally occurs in extremely dry and poor soils. It will grow well in many different types of soil,
    from sandy to moderately fertile loam, as long as it has good drainage. To increase drainage at your planting
    site, build a mound before planting the aloe, incorporating organic compost into the soil.
    <br>
    <h2><u>Water:</u></h2>
    Water the soil on all parts of the pot until you can see water coming out of the draining holes. All the
    water that pools in the saucer should be emptied and the plant should not be allowed to sit in water.
    water whenever the soil is dry during the summer season. Water infrequently during cold season.
    <br>
    <h1><u>Sunlight:</u></h1>
    aloe vera plant prefer 8-10 hrs of sunlight a day
    <br>
    <h2><u>Fertilizer:</u></h2>
    fertilize once a year or never aloe plants do not require fertilizer,and overuse can harm then plant
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border">
        STEPS FOR PROPAGATION OF NEW ALOE PLANT
      </span>
    </div>
  </div>

  <section class="section section-dark" id="propagation">
    <h2></h2>
    <p>
      The aloe plant cannot be grown from a leaf cutting, and instead is typically propagated by detaching younger clone
      plants from the base of the adult plant or from the joint root system.<br>
      <br>
      1)Let your adult aloe plant grow to fill its container. While any healthy aloe plant has a chance to produce
        younger plants, or "pups", this is most likely to happen when the adult plant has reached the boundaries of its
        container.<br>
      <br>
      2)Wait until young plants emerge. Your Aloe vera plant should start to produce "pups", which are clones of itself
      that share some of the mother plant's root system and may be attached to the base as well.<br>
      <br>
      3)Let the young plants grow to sufficient size. The young plants will do best if you wait until they are a little
      larger and mature enough to have a few roots of their own (at least 3 inches (7.5 cm) tall, and preferably 5
      inches (12.5 cm).)<br>
      <br>
      4) Use a sharp, clean knife to remove the young plant. Clear away the dirt at the base of the pup to see whether
      it is attached to the mother plant. If it is, cut it away, making sure to keep the young plant attached to its
      roots if any are present.<br>
      <br>
      5) Leave cut plants in the air for a couple days. Instead of planting the new aloe immediately, you may wish to
      allow the plant to form a callus over the knife cut.
      <br>
      6)Plant in its own container and support. Place the young plant on top of well-draining soil, without burying the
      leaves.<br>
      <br>
      7)Mist once every few days if the plant has no roots. Before the roots have grown in, do not water the plant.<br>
      <br>
      8)Water sparingly after roots set in.<br>
      <br>

    </p>
  </section>
  <div class="pimg4">
    <div class="ptext">
      <span class="border">
        PROVIDING DAILY CARE
      </span>
    </div>
  </div>

  <section class="section section-dark" id="taking_care">
    <h2></h2>
    <p>
      1)Give the plant adequate sunlight and warmth. Aloe vera plants prefer 8–10 hours of sunlight a day. While they
      grow best in warm or hot temperatures.<br>
      <br>
      2)Water whenever the soil is dry during the summer season.<br>
      <br>
      3)Water infrequently during the cold season.<br>
      <br>
      4)Fertilize once a year or never. Aloe plants do not require fertilizer, and overuse can harm the plant or cause
      it to grow in an unhealthy manner.<br>
      <br>
      5)Clear weeds carefully. The soil around the aloe plant should be free of grass and weeds.<br>
      <br>
      6)Increase sunlight if the leaves look flat and low.<br>
      <br>
      7)Decrease sunlight if the leaves turn brown.<br>
      <br>
      8)Increase water if the leaves look thin/curled.<br>
      <br>
      9)Stop watering if the leaves turn yellow or fall apart.<br>
      <br>
    </p>
  </section>

  <div class="pimg5">
    <div class="ptext">
      <span class="border">
        USES AND BENEFITS
      </span>
    </div>
  </div>

  <section class="section section-dark" id="uses_benefits">
    <h2></h2>
    <p>
      <h2><u>Digestive Cure</u></h2> 
      Aloe Vera plant benefits for curing bowel problems due to its high anti-inflammatory properties. Aloe vera plant
      benefits to help in the growth of good bacteria in the gut, this keeps all digestive disorders at bay.
      <h2><u>Heart Reflux</u> </h2>
      Drink Aloe Vera plant juice as it reduces the symptoms of heart reflux and stabilizes the alkaline levels of the
      body. It has a soothing effect on the stomach walls and reduces heartburn and discomfort. Due to its laxative
      properties, it also treats constipation. And that is why used as aloe vera to detox.
      <h2><u>Reduces Cholesterol Level</u></h2>
      Aloe vera plant benefits to cholesterol level by reducing triglycerides . Include fresh Aloe vera plant juice in
      your daily diet to maintain your cholesterol level and increase the level of good cholesterol. By reducing
      cholesterol, you are protecting your heart from damage.
      <h2><u>Weight Loss</u></h2>
      Aloe vera for weight loss is used in a way that it is easy to adapt and in fact juice is an easy and natural
      weight loss solution. It reduces the weight by stabilizing the metabolic rate, reducing the lipid levels and
      helping burn fat. Uses of aloe vera for weight loss is known to be one of the best and easiest ways to reduce
      weight…
      <h2><u>Fights Diabetes</u></h2>
      Aloe Vera plant is good for diabetes patients because aloe vera plant benefits to regulate the blood sugar levels
      when consumed regularly. However, consult your doctor before you start consuming the aloe vera plant juice. You
      need to have the dose prescribed by the doctor so that it doesn’t interfere with the medicines you are having to
      curb blood sugar.
      <h2><u>Reduces Eye Irritation</u></h2>
      Mix 2 tsp of aloe vera plant gel in a cup of water. You can also add a tsp of boric acid . Use this eyewash to
      reduce the reddening and irritation in the eyes.
      <h2><u>Fights Common Cold and Cough</u></h2>
      For those who suffer regularly from cold, coughs, flu, stuffy nose, bronchitis and other respiratory disorders,
      Aloe Vera to detox is the best natural solution. The Vitamin C content of the aloe vera juice ensures protection
      from common colds that occur with environmental changes.
      <h2><u>A Soothing Aftershave</u>  </h2>
      Men can use Aloe Vera plant gel as an aftershave. It reduces the irritation and inflammation of the skin and heals
      the cuts due to shaving.
      <h2><u>Acne and Acne Marks</u> </h2>
      Make Aloe Vera plant your friend as it is the best natural remedy for curing acne and pimples and also its scars.
      It has an antimicrobial property that helps kill the bacteria causing acne and reduces the acne marks by
      lightening the skin.
      <h2><u>Removes Dead Cells and Stretch Marks</u></h2>
      Aloe Vera plant benefits to removing dead cells, wrinkles and fine lines. Aloe vera plant juice also helps to
      remove stretch marks.
      <h2><u>Prevents Sun Tan and Soothes Skin</u></h2>
      Aloe Vera plant gel is highly beneficial for treating sunburns. It is an excellent cooling agent. Apply fresh gel
      on your skin every day to get immediate results. It reduces the pain and the redness of the skin and forms a
      protective layer which reduces further damage.
      <h2><u>Heals Wounds</u></h2>
      It heals cuts and wounds, dermatitis and also insect bites when applied externally.
      <h2><u>Maintains the pH Balance</u></h2>
      Aloe Vera plant has alkaline properties that help to maintain the pH level of the scalp and hair . Aloe vera
       keeps the hair moisturized and allows hair growth.
      <h2><u>Reduces Dandruff</u></h2>
      Aloe Vera plant benefits for curing dandruff since ancient times. Due to its property of enzymatic breakdown of
      skin cells and anti-fungal properties, aloe vera plant benefits to reduce dandruff from the scalp. It also heals
      scalp diseases like psoriasis and seborrhea
      <h2><u>Promotes Hair Growth</u></h2>
      Aloe Vera plant is rich in proteolytic enzymes which help to remove the dead skin which clogs the pores of the
      scalp, which hinders the growth of new hair follicles. Accumulation of excessive sebum on the scalp can lead to
      hair problems like partial baldness. So the Aloe vera plant benefits to removing sebum, making the scalp squeaky
      clean and promoting hair growth.



    </p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        ALOE VERA
      </span>
    </div>
  </div>

  <!--back to top start-->

  <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>

    <!--back to top end-->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>

</html>