{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie+edge">
    <title>Baby Sun Rose</title>
    <link rel="stylesheet" href="{% static 'css_info/indoor/BSRstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="new.js"></script>

    <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <script src="{% static 'js/scroll.js' %}"></script>

    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
      <a class="navbar-brand" href="/">Trial 1</a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#intro">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#soil_lifecycle">Soil & Life Cycle</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#climate">Climate</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#watering">Watering</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="pimg1">
      <div class="ptext">
        <span class="border">
          Baby Sun Rose Plant
        </span>
      </div>
    </div>

    <section class="section section-dark" id="intro">
      <h2>Size</h2>
      <p>
        The stays very flat and grows at a slow to moderate pace. Plants only rise to about 10 centimetres (3.9 in) tall but prostrate stems reach up to about 60 centimetres (24 in) long. The stems are green and stalk-round. The fleshy, small leaves are about 2.5 centimetres (0.98 in) long and covered with fine papillae.
      </p>
    </section>

  <div class="pimg2">
    </div>

    <section class="section section-dark" id="soil_lifecycle">
      <h2>Soil</h2>
      <p>
      The plant prefers a well-draining, rich, sandy, or loamy soils. It can tolerates drought conditions, but prefers regular watering, especially during the hot summer months.
      </p>
      <h2>Life Cycle</h2>
      <p>
      2-3 years.
      </p>
    </section>

    <div class="pimg3">
    </div>

    <section class="section section-dark" id="climate">
      <h2>Climate</h2>
      <p>
        The plant thrives in hot, dry, sunny areas. Though you can grow baby sun rose in a container or hanging basket to bring indoors during cold weather.
      </p>
    </section>

    <div class="pimg4">
    </div>

    <section class="section section-dark" id="watering">
      <h2>Watering/Care</h2>
      <p>
        Water on a regular basis with enough time for the soil to dry out between waterings. Make sure the area is very well drained or this succulent plant won't make it. Fertilize about twice a year.
      </p>
    </section>

    <div class="pimg1">
      <div class="ptext">
      </div>
    </div>

    <!--back to top start-->

    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>

      <!--back to top end-->





  </body>
</html>
