{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content+"width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content+"ie+edge">
    <title>Papaya Tree</title>
    <link rel="stylesheet" href="{% static 'css_info/indoor/BSRstyle.css' %}">
  </head>
  <body>
    <div class="pimg1">
      <div class="ptext">
        <span class="border">
          Baby Sun Rose Plant
        </span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Size</h2>
      <p>
The stays very flat and grows at a slow to moderate pace. Plants only rise to about 10 centimetres (3.9 in) tall but prostrate stems reach up to about 60 centimetres (24 in) long. The stems are green and stalk-round. The fleshy, small leaves are about 2.5 centimetres (0.98 in) long and covered with fine papillae.
      </p>
    </section>

  <div class="pimg2">
    </div>

    <section class="section section-dark">
      <h2>Soil</h2>
      <p>
      The plant prefers a well-draining, rich, sandy, or loamy soils. It can tolerates drought conditions, but prefers regular watering, especially during the hot summer months.
      </p>
      <h2>Life Cycle</h2>
      <p>
      2-3 years.
      </p>
    </section>

    <div class="pimg3">
    </div>

    <section class="section section-dark">
      <h2>Climate</h2>
      <p>
        The plant thrives in hot, dry, sunny areas. Though you can grow baby sun rose in a container or hanging basket to bring indoors during cold weather.
      </p>
    </section>

    <div class="pimg4">
    </div>

    <section class="section section-dark">
      <h2>Watering/Care</h2>
      <p>
        Water on a regular basis with enough time for the soil to dry out between waterings. Make sure the area is very well drained or this succulent plant won't make it. Fertilize about twice a year.
      </p>
    </section>

    <div class="pimg1">
      <div class="ptext">
      </div>
    </div>
  </body>
</html>
