{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CHILLY  &#127793;</title>

    <link rel="stylesheet" href="{% static 'css_info/indoor/chilly.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">

   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>
    <!-- <a href="register">register</a><br>
    <a href="login">login</a><br> -->
    <script src="{% static 'js/scroll.js' %}"></script>

    <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->
    
    
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
      <a class="navbar-brand" href="/">TreeAsure</a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#intro">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#condition">Growth Condition</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#looks">What It Looks Like</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#sowing_watering">Sowing And Watering</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#picking">Picking</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#care">Taking care</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/logout/">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
 
    <div class="pimg">
        <div class="ptext">
            <span class="border">
                CHILLY 
            </span>
        </div>
    </div >
    <div class="pimg1">
    <section class="section section-dark" id="size">
    
      <h1>SIZE</h1>

     <p>  They grow from small to medium sized bushes from knee high to two metres/six feet tall. How big they get depends on the 
       species and variety.

         </p>
    </section>
    </div>

    <div class="pimg2">

        <section class="section section-dark" id="condition">
          <h1>LIFE CYCLE</h1>
          <p >
            Chilies can live between 1.5 - 15 years depending on the species.
            </p>
        </section>
    </div>
    
    <div class="pimg3">

    <section class="section section-dark" id="climate">
        <h1>CLIMATE</h1>
        <p>We need a warm climate and sunny position. 18 - 21 OC is the ideal temperature.  
        </p>
    </section>

   </div>
    

    <div class="pimg4">

        <section class="section section-dark" id="soil">
            <h1>SOIL</h1>
            <p>
              Requires moisture-retentive soil (clay soil so that more water is retained). 
            </p>
        </section>
    </div>
    
        

        <div class="pimg5">

          <section class="section section-dark" id="watering">
            <h1>WATERING/CARE</h1>
            <p class="bullet_point">
              <li>
                Chillies cannot withstand a lot of water. Hence, heavy rain and stagnated water could spoil your plant. 
                Make gaps in your soil and holes at the bottom of your pot to make sure it is not over-watered.
              </li>
              <li>
                Give at least 2 inches of water per week once the fruits have appeared, spray rather than water at the base to prevent 
                over watering.
              </li>
              <li>
                Pinch out growing tips when plants reach about 15-20cm (6-8in) high to encourage bushy growth and better cropping.
              </li>
            </p>
          </section>
        </div>
      
          

          <div class="pimg6">

            <section class="section section-dark" id="care">
                <h1>TAKING GOOD CARE OF YOUR PLANT</h1>
                <p>
                    Once the root fills 9-10 cm pots, transfer then in 20-23 cm pots of good compost. Pinch out growing tips when plants 
                    reach about 15-20cm (6-8in) high to encourage bushy growth and better cropping. Pollination does need to occur to get fruits. 
                    Rub the bristles of a small paint brush, or your little finger, gently over the flower heads to ensure that pollination occurs. 
                    Give at least 2 inches of water per week once the fruits have appeared, spray rather than water at the base to prevent over watering.
                </p>
            </section>
          </div>

          <!--back to top start-->

          <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>

            <!--back to top end-->

        
            
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>