{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemongrass </title>
    <link rel="stylesheet" href="{% static 'css_info/indoor/lemongrass.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="new.js"></script>

    <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <script src="{% static 'js/scroll.js' %}"></script>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
        <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#soil">SOIL</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#size">SIZE</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#climate">CLIMATE</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#cycle">LIFE CYCLE</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#watering">WATERING/CARE</a>
            </li>
            
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/about/">About us</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Lemongrass Plant
            </span>
        </div>
    </div>
            <section class="section section-dark soil" id="soil">
                <h2 style="font-size: xx-large;">Soil</h2>
                <p>
                  If you’re planting lemongrass in a pot, use well-draining potting soil . Lemongrass plants prefer rich, loamy soil. You can create this ideal soil by adding several different soil amendments: compost, manure, and leaf mold are all enriching additives that you can add at planting time.
                </p>
            </section>

            <div class="pimg2">
             </div>
            
            <section class="section section-dark area" id="size">
                <h2 style="font-size: xx-large;">Size</h2>
                <p>
                  Lemongrass grows quickly and spreads to fill a planting bed or pot. Expect a plant to reach a size of 3 to 5 feet tall and up to 2 feet wide in a growing season.

                </p>
            </section>

            <div class="pimg3">
            </div>

            <section class="section section-dark temperature" id="climate">
                <h2 style="font-size: xx-large;">Climate</h2>
                <p>
                  Lemongrass, in its native habitat, enjoys long and hot growing seasons and will grow best in areas that can replicate these conditions.
                  As the plant does not like to get too cold, make sure you don’t keep it near drafty areas, such as entryways, cooling vents, or open windows.
                  Lemongrass will need plenty of bright sunlight even in winter, so ensure it has access to natural light; otherwise, the stalks will turn brown.
                  
                </p>
            </section>

            <div class="pimg4">
            </div>

            <section class="section section-dark lifespan" id="cycle">
                <h2 style="font-size: xx-large;">Life Cycle</h2>
                <p>
                  Lemon grass can reach a height of 1.8 m (6 ft) and will grow for several years, typically its economical lifespan is 4 years.

                </p>
            </section>

            <div class="pimg5">
            </div>

            <!-- <section class="section uses" id="uses">
                <h2 style="color: burlywood; font-size: xx-large;">Uses</h2>
                <p>
                  Leaves may also be used to make lemon grass tea. The essential oil extracted from the leaves is commonly used in insect repellents, perfumes and soaps.
                  Lemongrass is also a delicious addition to soups, stews, stir frys,
                  salads, curries, vegetables, rice, marinades and beverages
                  
                </p>
            </section> -->

            

            <div class="pimg8">
            </div>

            <section class="section section-dark water" id="watering">
                <h2 style="font-size: xx-large;">Watering/Care</h2>
                <p>
                  Watering daily is recommended. Lemongrass thrives in moist soil, not soggy soil. Make sure the pot you used has enough draining holes in them to prevent boggy soils.

                </p>
            </section>
            
            <div class="pimg9">
            </div>
            

            <!--back to top start-->

          <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>

            <!--back to top end-->


</body>
</html>