{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemongrass Plant</title>
    <link rel="stylesheet" href="{% static 'css_info/indoor/lemongrass.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="new.js"></script>

    <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <script src="{% static 'js/scroll.js' %}"></script>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
        <a class="navbar-brand" href="/">Trial 1</a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#soil">Soil</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#area">Plantation area</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#temperature">Temperature</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#lifespan">Lifespan</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#uses">Uses</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#fertilizers">Fertilizers</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#water">Water</a>
            </li>
            
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/about/">About us</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Lemongrass Plant
            </span>
        </div>
    </div>
            <section class="section soil" id="soil">
                <h2 style="color: burlywood; font-size: xx-large;">Soil</h2>
                <p>
                     If you’re planting lemongrass in a pot, use well-draining potting soil .
                     Lemongrass plants prefer rich, loamy soil.
                     You can create this ideal soil by adding several different soil amendments: compost, manure, and leaf mold are all enriching additives that you can add at planting time.

                </p>
            </section>

            <div class="pimg2">
             </div>
            
            <section class="section area" id="area">
                <h2 style="color: burlywood; font-size: xx-large;">Area</h2>
                <p>
                    A pot that is large and wide enough to ensure it won’t tip over, since lemon grass can grow quite tall.
                    Space required :-60x80 cm.
                    Space required to grow in the container:- 12 inches diameter.
                </p>
            </section>

            <div class="pimg3">
            </div>

            <section class="section temperature" id="temperature">
                <h2 style="color: burlywood; font-size: xx-large;">Temperature</h2>
                <p>
                    Lemongrass, in its native habitat, enjoys long and hot growing seasons and will grow best in areas that can replicate these conditions.<br>
                    As the plant does not like to get too cold, make sure you don’t keep it near drafty areas, such as entryways, cooling vents, or open windows.<br>
                    Lemongrass will need plenty of bright sunlight even in winter, so ensure it has access to natural light; otherwise, the stalks will turn brown. 
            
                </p>
            </section>

            <div class="pimg4">
            </div>

            <section class="section lifespan" id="lifespan">
                <h2 style="color: burlywood; font-size: xx-large;">Lifespan</h2>
                <p>
                    Lemon grass can reach a height of 1.8 m (6 ft) and will grow for several years, typically its economical lifespan is 4 years.
            
                </p>
            </section>

            <div class="pimg5">
            </div>

            <section class="section uses" id="uses">
                <h2 style="color: burlywood; font-size: xx-large;">Uses</h2>
                <p>
                    Leaves may also be used to make lemon grass tea.<br>The essential oil extracted from the leaves is commonly used in insect repellents, perfumes and soaps.<br>
                    Lemongrass is also a delicious addition to soups, stews, stir frys,salads, curries, vegetables, rice, marinades and beverages   
               
                </p>
            </section>

            <div class="pimg6">
            </div>

            <section class="section benefits" id="benefits">
                <h2 style="color: burlywood; font-size: xx-large;">Benefits</h2>
                <p>
                    Relieving anxiety<br>
                    Lowering cholesterol<br>
                    Preventing infection<br>
                    Boosting oral health<br>
                    Relieving pain<br>
                    Boosting red blood cell levels<br>
                    Relieving bloating<br>
                     
                </p>
            </section>

            <div class="pimg7">
            </div>

            <section class="section fertilizers" id="fertilizers">
                <h2 style="color: burlywood; font-size: xx-large;">Fertilizers</h2>
                <p>
                    As a grassy plant, lemongrass needs a nitrogen-rich fertilizer for its best growth. <br>You can use a slow-release 6-4-0 fertilizer that will feed lemongrass throughout the growing season. <br>You can also water your lemongrass plants with manure tea, which will add trace nutrients.
    
                </p>
            </section>

            <div class="pimg8">
            </div>

            <section class="section water" id="water">
                <h2 style="color: burlywood; font-size: xx-large;">Water</h2>
                <p>
                    Your lemongrass plant needs to be watered regularly in order to maintain soil moisture. <br>Add some mulch over the soil to hold moisture.<br>You can also place your pots on top of a saucer with pebbles. <br>The stones will produce moisture for the soil.<br>
                    Watering daily is recommended. <br>Lemongrass thrives in moist soil, not soggy soil. <br>Make sure the pot you used has enough draining holes in them to prevent boggy soils.
                    
                </p>
            </section>
            
            <div class="pimg9">
            </div>
            

            <!--back to top start-->

          <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>

            <!--back to top end-->


</body>
</html>