{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turmeric Plant &#127793;</title>

    <link rel="stylesheet" href="">

    <link rel="stylesheet" href="{% static 'css_info/indoor/moneyplant.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">
    
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>

  <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <a class="navbar-brand" href="/">Trial 1</a>
    <button class="navbar-toggler btn-outline-light" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="home-nav-link nav-link" href="#intro">Introduction</a>
            </li>

            <li class="nav-item">
                <a class="home-nav-link nav-link" href="#appearance">Appearance</a>
            </li>
            <li class="nav-item">
                <a class="home-nav-link nav-link" href="#size">Size</a>
            </li>
            <li class="nav-item">
                <a class="home-nav-link nav-link" href="#water_usage">Water Usage</a>
            </li>

            <li class="nav-item">
                <a class="home-nav-link nav-link" href="#requirments">Requirments</a>
            </li>
            <li class="nav-item">
                <a class="home-nav-link nav-link" href="#maintenance">Maintenance</a>
            </li>
            <!-- <li class="nav-item">
        <a class="home-nav-link nav-link" href="/about/">About us</a>
      </li>
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
      </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

    
 
    <div class="pimg1">

        <div class="ptext">
            <span class="border">
                MONEY PLANT
            </span>
        </div>
    </div>

    <section class="section section-dark">

      <h1>SIZE</h1>

     <p>  This vine grows up to 20 m (66 ft) tall, with stems up to 4 cm (2 in) in diameter, climbing by means of aerial roots which adhere to surfaces. 
The leaves are alternate, heart-shaped, entire on juvenile plants, but irregularly pinnatifid on mature plants, up to 100 cm (39 in) long and 45 cm (18 in) broad;  juvenile leaves are much smaller, typically under 20 cm (8 in) long.
The flowers are produced in a spathe up to 23 cm (9 in) long. 
This plant produces trailing stems when it climbs up trees and these take root when they reach the ground and grow along it. 
The leaves on these trailing stems grow up to 10 cm (4 in) long and are the ones normally seen on this plant when it is cultivated as a potted plant.
       </p>
    </section>

    <div class="pimg2">

        <section class="section section-dark">
          <h1>LIFE-CYCLE</h1>
          <p >
            It is a biennial because the next year the seeds germinate and produce small plants.
          </p>
        </section>
    </div>
    
    <div class="pimg3">

    <section class="section section-dark">
      <h1>TEMPERATURE</h1>
      <p>
        Your money tree will grow best receiving bright indirect light to partial sunlight and in temperatures between 60°F and 85°F. Lower light is tolerated, but if too low the growth tends to become stretched and lanky. Temperatures down to 50°F and as high as 100°F are tolerated.
Exposure to too many drafts, though, may cause leaf loss. Heater vents and hot, dry air also need to be avoided.
      </p>
    </section>

   </div>
    

    <div class="pimg4">

        <section class="section section-dark">
            <h1>SOIL REQUIREMENTS</h1>
            <p>
              They tolerate poor soils but money plants will grow best in fertile, loamy soil. If your garden has clay soil or sandy soil, you can improve the soil texture and fertility by working in compost at least one season before adding money plants into your garden.
            </p>
        </section>
    </div>
    
        

        <div class="pimg5">

          <section class="section section-dark">
              <h1>WATER TABLE</h1>
              <p>
               To avoid root rot, a money tree needs a sandy, peat-moss-based soil and a pot with good drainage. Although it likes humidity in general, you should let its soil dry out between watering. A good schedule for most environments is to water when the top 2-4 inches of soil are dry.
              </p>
          </section>
        </div>
      
          

          <div class="pimg6">

            <section class="section section-dark">
                <h1>FLOWERING</h1>
                <p>
                  It has a shy-flowering nature.
Epipremnum aureum is a species of flowering plant in the arum family Araceae.
It rarely flowers without artificial hormone supplements.
The last known spontaneous flowering was reported in 1964.

                </p>
            </section>
          </div>

           <!--back to top start-->

           <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>

            <!--back to top end-->

        
            
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>