{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Plant</title>
    
    <link rel="stylesheet" href="{% static 'css_info/indoor/tomato.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">


     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <!-- <a href="register">register</a><br>
    <a href="login">login</a><br> -->
    <script src="{% static 'js/scroll.js' %}"></script>

    <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->



    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom ">
      <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>

      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#size">SIZE</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#cycle">LIFE CYCLE</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#climate">CLIMATE</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#soil">SOIL</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#watering_care">WATERING/CYCLE</a>
          </li>
        
          
      
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/logout/">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Tomato Plant
            </span>
        </div>
    </div>
           <div class="pimg4">
            <section class="section-dark size" id="size">
              <br><br><br>
                <h2 style="font-size: xx-large; text-align:center;">SIZE</h2>
                <p>
                  Tomato plants typically grow to 1–3 meters (3–10 ft) in height.
                  They are vines that have a weak stem that sprawls and typically needs support.   
                </p>
                <br><br><br>
            </section>
          </div>

            <div class="pimg2">
            <section class="section-dark cycle" id="cycle">
              <br><br><br>
                <h2 style="font-size: xx-large; text-align:center;">LIFE CYCLE</h2>
                <p>
                  Starting from seed to flowering and then dying, 6-8 months is the complete life cycle of a tomato plant.

                </p>
                <br><br><br>
            </section>
          </div>

            <div class="pimg3">
            <section class="section-dark climate" id="climate">
              <br><br><br>
                <h2 style="font-size: xx-large; text-align:center;">CLIMATE</h2>
                <p>
                  •	Tomatoes need consistent night temperatures between 55°F and 75°F to set fruit. (A few varieties will set fruit at lower or higher temperatures.)
                  •	Later in the season, the fruit will not color properly when night temperatures stay above 85°F, and plants will quit growing when temperatures go above 95°F.
                  •	Place tomatoes in the garden where they will be protected from drying winds.
                </p>
                <br><br><br>
            </section>
          </div>

            <div class="pimg4">
            

            <section class="section-dark soil" id="soil">
              <br><br><br>
                <h2 style="font-size: xx-large; text-align:center;">Lifespan</h2>
                <p>
                  Plant tomatoes in loose, well-drained soil. But almost any garden soil will grow tomatoes.
                  Sandy loam is best for early tomatoes. Heavy clay loam is ideal for late tomatoes.
                  
            
                </p>
                <br><br><br>
            </section>
          </div>

            <div class="pimg5">
            

            <section class="section-dark watering_care" id="watering_care">
              <br><br><br>
                <h2 style="font-size: xx-large; text-align:center;">WATERING/CARE</h2>
                <p>
                  •	Keep the soil evenly moist–not too wet and not too dry. 
                  •	Test soil moisture by sticking your finger into the soil–if it comes out dry, it’s time to water; if it comes out wet, hold off.
                  •	Tomatoes require a minimum of 8 hours of continuous sunlight each day. More is better.
                  •	Protect tomato plants from extremes of temperature–cold and hot, strong winds, weeds, pests, and diseases.
                  
                </p>
                <br><br><br>

            </section>
          </div>

            
           
            
             <!--back to top start-->

             <script>
             //Get the button
             var mybutton = document.getElementById("myBtn");
            
             // When the user scrolls down 20px from the top of the document, show the button
             window.onscroll = function() {scrollFunction()};
            
             function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
             }
            
             // When the user clicks on the button, scroll to the top of the document
             function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
             }
             </script>

             <!--back to top end-->

        
            
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  </body>
</html>

