{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us&#127793;</title>

    <link rel="stylesheet" href="{% static 'css/Aboutus.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
  </head>
  <body>
    <div>
        <nav class="navbar navbar-expand-lg " style="background:black;">
            <a class="navbar-brand" href="/"><div><img src="{% static 'images/tree2.png' %}" height="40px" width="325px"></div></a>
            <button
              class="navbar-toggler btn-outline-light"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
            </button>
            
            <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Plants  </a>
                     <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="dropdown-item" href="/information/">Plant Information</a>
                      </li>
                      <li class="nav-item">
                        <a class="dropdown-item" href="/information/saplings">Saplings</a>
                      </li>
                     </ul>
                  </li>
                
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
                   <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="dropdown-item" href="/maps/bloginfo">Available Locations</a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item" href="/maps/">Insert Location</a>
                    </li>
                   </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
                   <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="dropdown-item" href="/schedule/">All Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item" href="/schedule/form_fill">Create new event</a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                    </li>
                   </ul>
                </li>
                <!-- <li class="nav-item">
                  <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
                </li> -->
                {% else %}
                <script>
                  var x = 1;
                </script>
                <li class="nav-item dropdown">
                  <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
                   <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="dropdown-item" href="/login/">Available Locations</a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item" href="/login/">Insert Location</a>
                    </li>
                   </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
                   <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="dropdown-item" href="/login/">All Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item" href="/login/">Create new event</a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                    </li>
                   </ul>
                </li>
                {% endif %}
                
                <!-- <li class="nav-item">
                  <a class="home-nav-link nav-link" href="/about/">About us</a>
                </li>
                <li class="nav-item">
                  <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
                </li> -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="home-nav-link nav-link" href="/logout/">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="home-nav-link nav-link" href="/login/">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
    </div>
    <!--back to top button-->

    <div class="pimg1-2">
      <div class="ptext">
        <span class="border"> ABOUT US </span>
      </div>
    </div>
    

    <div class="pigm2">
        <section class="section section-dark">
          <p>
            Treeasure stands for tree which stands for plantation, asure sounds like
            assure that is assuring the growth of plants, and when combined it becomes
            a treasure with an E in the middle which stands for environment.
          </p>
        </section>
      </div>
    <div class="pigm2">
      <section class="section section-dark">
        <h1>Who are we?</h1>
        <p>
          We the NSS unit of SIES GST, Nerul have created a website, treeasure
          to help people plant trees and spread greenery in the easiest way
          possible. Our vision is to create a green planet where we breathe
          freshness and keep our mother earth cool. We ensure that you are
          provided with all the information about how to plant, necessities for
          the particular plant that you've chosen, available locations for
          plantation and also links to buy plants online. This way our website
          makes the work super easy for all. They say 1 step makes a huge
          difference. So why not we all take 1 step towards a better tomorrow?
        </p>
      </section>
    </div>

    <section class="section section-dark">
      <h1>About TreeAsure</h1>

      <p>
        The website contains information (size, climate, soil, watering/care,
        uses) of some popular indoor and outdoor plants along with the
        information of some gardening tools which will be useful during
        plantation. On this website user can create an event for tree plantation
        and/or register for these events. User can also buy saplings from some
        popular online nursing shops whose links are given in the site. Users
        can also find some locations available for tree plantation uploaded by
        other users along with the location link (from google maps) and contact
        information of certain authorities if needed.
      </p>
    </section>

    <section class="section section-dark">
      <h1>Features</h1>
      <p>
        -anyone can create event or register for an event (plantation drive).<br />
        -one can find available location for tree plantation.<br />
        - can buy saplings from link provided of some popular online nursing
        shops. <br />- detailed information like size, suitable climate, care
        and watering of indoor/outdoor plants - information of some basic
        gardening tools
      </p>
    </section>

    <section class="section section-dark">
      <h1>Advantages</h1>
      <p>
        -In the process of making our surroundings filled with greenery, many
        people start the fun process of tree/seed plantation, but the process of
        gathering information and knowledge about different plants makes them
        lose interest in this beautiful hobby. We shorten this process for you
        by providing only the required information in a very efficient way.<br />
        -Our site continues to encourage the users to not only gain more
        knowledge about all the different plants available, but also helps you
        to be a part of a community by participating in different plantation
        drives organized by different people at different locations. <br />-We
        take you through the whole experience starting from gaining knowledge
        about different plants to physically planting them with your own hands.
      </p>
    </section>

    <!--back to top start-->

    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>

    <!--back to top end-->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <style>
      
        
  </style>
  </body>
</html>
