{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile</title>
</head>
<body >
  
  <div>
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="/"><div><img src="{% static 'images/tree2.png' %}" height="40px" width="325px"></div></a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Plants  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/information/">Plant Information</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/information/saplings">Saplings</a>
                </li>
               </ul>
            </li>
          
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
             <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="dropdown-item" href="/maps/bloginfo">Available Locations</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/maps/">Insert Location</a>
              </li>
             </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
             <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="dropdown-item" href="/schedule/">All Events</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/schedule/form_fill">Create new event</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
              </li>
             </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
          </li> -->
          {% else %}
          <script>
            var x = 1;
          </script>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
             <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="dropdown-item" href="/maps/bloginfo">Available Locations</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/login/">Insert Location</a>
              </li>
             </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
             <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="dropdown-item" href="/schedule/">All Events</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/login/">Create new event</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
              </li>
             </ul>
          </li>
          {% endif %}
          
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/logout/">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/login/">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    
</div>
      <br><br>

      <div class="container-fluid " style="position:relative; ">
    <div class="col-md-6 register-c order-2 order-md-1 ">
    <form class="" >
        <h2 style="padding:2%; color:black;"><b>User Details</b></h2>
                <h3 scope="col"></h3>
                <h3 scope="col"><b>Username : </b>{{ user.username }}</h3>
                <h3 scope="col"><b>First Name : </b>{{ user.first_name }}</h3>
                <h3 scope="col"><b>Last Name : </b>{{ user.last_name }}</h3>
    <form class="form-inline">
    <h2 >Email</h2><h3>{{ user.email }}</h3>
    </form>
    <br><br>
</form>
</div>
</div>
<br><br>
<div class="container-fluid" style="position:relative;">
    <div class="col-md-6 register-c order-2 order-md-1  " >
    <form class="login-f" action="delete_hosted_event/" method="POST" class="register-c col-6">
    <h2 style="padding:2%; margin-bottom:80px; margin-top:0; color:black;"><b>Hosted Events</b></h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Event Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
    {% for tt in tt_1 %}
    {% if tt.host == user.username %}
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>{{ tt.event_name }}</td>
                <td>{{ tt.date }}</td>
                <td>{{ tt.time }}</td>
                <td><input type="hidden" id="hidden_unique_id" name="hidden_unique_id" value="{{ tt.unique_id }}">
                    <input class="btn-dark" style="padding: 2%;" type="submit" value="Delete"></td>
            </tr>
        </tbody>
    {% endif %}
    {% endfor %}
</table>
<br><br>
    </form>
  </div>
</div>
<br><br><br>
{% if participants %}
<div class="container-fluid" style="position:relative;">
  <div class="col-md-6 register-c order-2 order-md-1  ">
    
    <h2>Participants</h2>
    {% for participant in participants %}
      <h2 style="padding:2%; margin-bottom:30px; margin-top:0; color:black;"><b>{{participant.1}}</b></h2>
      <table class="table">
        <thead>
            <tr>
              <th scope="col">Sr No</th>
                <th scope="col">Participants</th>
            </tr>
        </thead>
        {% for name in participant.2 %}
          <tbody>
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{name}}</td>
            </tr>
          </tbody>
        {% endfor %}
    </table>
    {% endfor %}
    
    
  </div>
</div>   
{% endif %}
<br><br>

<div class="container-fluid" style="position:relative; ">
  <div class="col-md-6 register-c order-2 order-md-1  " >
    <form class="login-f" action="/upload_images/" method="POST">
    <h2 style="padding:2%; margin-bottom:80px; margin-top:0; color:black;"><b>Completed Events</b></h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Event Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <!-- <th scope="col">Place</th> -->
                <th scope="col">Action</th>
            </tr>
        </thead>
    
    {% for past_present in past_presents %}
    <tbody>
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ past_present.event_name }}</td>
            <td>{{ past_present.date }}</td>
            <td>{{ past_present.time|slice:":5" }}</td>
            <!-- <td>{{ past_present.place|slice:":25" }}</td> -->
            <td><input type="hidden" id="hidden_unique_id" name="hidden_unique_id" value="{{ past_present.unique_id }}">
              <input type="hidden" id="hidden_event_name" name="hidden_event_name" value="{{ past_present.event_name }}">
              <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <input class="btn-dark" style="padding: 2%;" type="submit" value="Add Photos"></td>
            
        </tr>
    </tbody>
    {% endfor %}
    </table>
    <br><br>
    </form>
    </div>
</div>


<br><br>
<div class="container-fluid" style="position:relative; ">
  <div class="col-md-6 register-c order-2 order-md-1  " >
    <form class="login-f" action="delete_participated_events/" method="POST">
    <h2 style="padding:2%; margin-bottom:80px; margin-top:0; color:black;"><b>Participated Events</b></h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Event Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Place</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    
    {% for participant in participants_1 %}
    {% if participant.name == user.username %}
    <tbody>
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ participant.event_name }}</td>
            <td>{{ participant.date }}</td>
            <td>{{ participant.time }}</td>
            <td>{{ participant.place }}</td>
            <td><input type="hidden" id="hidden_unique_id" name="hidden_unique_id" value="{{ participant.unique_id }}">
              <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <input class="btn-dark" style="padding: 2%;" type="submit" value="Delete"></td>
            
        </tr>
    </tbody>
    {% endif %}
    {% endfor %}
    </table>
    <br><br>
    </form>
    </div>
</div>
    <br><br>
    <div class="container-fluid" style="position:relative;">
      <div class="col-md-6 register-c order-2 order-md-1  " >
    <form class="login-f" action="delete_map_blog/" method="POST" style="margin:3%;">
    <h2 style="padding:2%; margin-bottom:80px; margin-top:0; color:black;"><b>Added Maps</b></h2>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    {% for blog in blogs %}
    {% if blog.user == user.username %}
    <tbody>
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ blog.address }}</td>
            <td><input type="hidden" name="hidden_unique_id" value="{{ blog.unique_id }}">
                <input class="btn-dark" style="padding: 2%;" type="submit" value="Delete"></td>
        </tr>
    </tbody>
    {% endif %}
    {% endfor %}
    </table>
    <br><br>
  </form>
  
</body>
</html>