{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_schedule/index.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
     <!-- Bootstrap -->
     <!-- CSS only -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <!-- JS, Popper.js, and jQuery -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Document</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script> -->

</head>
<!-- <script src="{% static 'js/combodate.js' %}"></script> -->
<!-- <script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.3/inputs/combodate/combodate.js"></script> -->


<body>
  <div>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/"><div><img src="{% static 'images/tree2.png' %}" height="40px" width="325px"></div></a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Plants  </a>
                 <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="dropdown-item" href="/information/">Plant Information</a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="/information/saplings">Saplings</a>
                  </li>
                 </ul>
              </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/maps/bloginfo">Available Locations</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/maps/">Insert Location</a>
                </li>
               </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/">All Events</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/form_fill">Create new event</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                </li>
               </ul>
            </li>
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
            </li> -->
            {% else %}
            <script>
              var x = 1;
            </script>
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">Available Locations</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">Insert Location</a>
                </li>
               </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">All Events</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">Create new event</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                </li>
               </ul>
            </li>
            {% endif %}
            
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/about/">About us</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/login/">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    
</div>
<br><br>
    <div class="col-md-6 reg register-left">
        <div class="register-form">
    <form action="create_event" method="POST">
      <label for="place">Event Name:</label>
        <input class="form-control" type="text" id="event_name" name="event_name" placeholder="Event Name"><br><br>
        <label for="date">Date:</label>
        <input class="form-control" type="date" id="date" name="date" placeholder="yyyy-mm-dd"><br><br>
        <label for="time">Time:</label>
        <input class="form-control" type="time" id="time" name="time" placeholder="hh:mm AM/PM"><br><br>
        <label for="place">Place:</label>
        <input class="form-control" type="text" id="place" name="place" placeholder="Place"><br><br>
        <label for="address">Information:</label>
        <textarea class="form-control" name="address" id="address" ></textarea><br><br>
        <label style="font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;" >I agree to all the <a href="terms">terms and conditons</a> of this website regarding hosting an event</label>
        <input type="checkbox" onclick="enableForm()" class="form-control" name="permission_required" id="id_permission"><br>
        <input class="btn btn-dark" type="submit" id="submit" disabled>
      </form>
      <script>
        var y = 0;
        function enableForm() {
          if(y==0){
            document.getElementById("submit").disabled = false;
            y = 1;
          }
          else{
            document.getElementById("submit").disabled = true;
            y = 0;
          }
          
        }
      </script>
    </div>
</div>
</body>
</html>