{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_schedule/index.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
     <!-- Bootstrap -->
     <!-- CSS only -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <!-- JS, Popper.js, and jQuery -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>All Events</title>
    <style>
      div.scroll {
        margin:4px, 4px;
        padding:4px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align:justify;
        font-family: 'Courier New', Courier, monospace;
    }
    </style>
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/"><div><img src="{% static 'images/tree2.png' %}" height="40px" width="325px"></div></a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Plants  </a>
                 <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="dropdown-item" href="/information/">Plant Information</a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="/information/saplings">Saplings</a>
                  </li>
                 </ul>
              </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/maps/bloginfo">Available Locations</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/maps/">Insert Location</a>
                </li>
               </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/">All Events</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/form_fill">Create new event</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                </li>
               </ul>
            </li>
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
            </li> -->
            {% else %}
            <script>
              var x = 1;
            </script>
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">Available Locations</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">Insert Location</a>
                </li>
               </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
               <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">All Events</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/login/">Create new event</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                </li>
               </ul>
            </li>
            {% endif %}
            
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/about/">About us</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/login/">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    
</div>
<br><br>
<div class="row" style="justify-content: center;">
<h3 class="card" style="justify-content: center; text-align:center;"><b>Don't have saplings???</b> <a class="new-class" href="http://treeasurenss.herokuapp.com/information/saplings">Here are some online options</a></h3>
</div>
<p>
    {% if tt_1 %}
    {% for tt in tt_1 %}
    <div class=" row" style="justify-content:center;">
      <div class="card" >
        <div class="image">
          <img src="/schedule{{ tt.image }}">
          <h2><b>{{ tt.event_name }}</h2>
        </div>
        <div class="details">
          <div class="center">
            <div class="scroll">
              <h1><b>{{ tt.event_name }}</h1>
              Host - <p>{{ tt.host }}</p>
              <b>Date - </b><p>{{ tt.date }}</p>
              <b>Time - </b><p>{{ tt.time }}</p>
              <b>Place - </b><p>{{ tt.place }}</p>
              <b>Note - </b><p style="white-space: pre-line;">{{ tt.info }}</p><br>
            </div>
            <br>
            {% if user.is_authenticated %}
            {% if tt.host == user.username %}
        <div class="row" style="justify-content: center;">
          <form action="delete_data" method="POST">
            {% csrf_token %}
            <input type="hidden" name="hidden_unique_id" value="{{ tt.unique_id }}">
            <input class="delete-btn" type="submit" value="Delete">
          </form>
  
          <form action="edit_event_form" method="POST" style="margin-left: 5%;">
            {% csrf_token %}
            <input type="hidden" name="hidden_unique_id" value="{{ tt.unique_id }}">
            <input type="hidden" name="hidden_event_name" value="{{ tt.event_name }}">
            <input type="hidden" name="hidden_date" value="{{ tt.date }}">
            <input type="hidden" name="hidden_time" value="{{ tt.time }}">
            <input type="hidden" name="hidden_place" value="{{ tt.place }}">
            <input type="hidden" name="hidden_place" value="{{ tt.info }}">
            <input class="report-btn" type="submit" value="Edit">
          </form>
        </div>
        
        {% else %}
        <div class="row" style="justify-content: center;">
        <form  action="send_data" method="POST" >
          {% csrf_token %}
          <input type="hidden" name="hidden_unique_id" value="{{ tt.unique_id }}">
          <input type="hidden" name="hidden_event_name" value="{{ tt.event_name }}">
          <input type="hidden" name="hidden_date" value="{{ tt.date }}">
          <input type="hidden" name="hidden_time" value="{{ tt.time }}">
          <input type="hidden" name="hidden_place" value="{{ tt.place }}">
          <input class="delete-btn" type="submit" value="Participate">
        </form>
        
        <form   action="/schedule/report_event" method="POST" style="margin-left: 5%;">
          {% csrf_token %}
            <input type="hidden" name="hidden_unique_id" value="{{ tt.unique_id }}">
            <input type="hidden" name="hidden_event_name" value="{{ tt.event_name }}">
            <input class=" report-btn " type="submit" value="Report">
        </form>
      
      </div>
     
        {% endif %}
        {% else %}
        <button type="button" class="btn  btn-light" ><a class="but-text1" href="/login/">Login To Participate</a></button>
        {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    <br><br><br>
    {% endfor %}
    {% else %}
    <h1 class="text-center" style="color: white; position:absolute; left:40%; right:40%; top:50%; font-size:5vw;">No Event Created!</h4>
    {% endif %}
  </p>
    <script>
      if ('{{ flag }}' == 1){
        alert('You have already participated in the event');
        location.replace("/schedule/")
      }else if('{{ flag }}' == 1){
        alert('You have already participated in the event');
        location.replace("/schedule/")
      }
      if ('{{ flag_1 }}' == 1){
        alert('You have already participated in the event');
        location.replace("/schedule/")
      }else if('{{ flag_1 }}' == 1){
        alert('You have already participated in the event');
        location.replace("/schedule/")
      }
    </script>
</body>
</html>