{% load static %}
<!DOCTYPE html>
<html lang = "en" dir = "ltr">
    <head>
        <!--meta tags-->    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--title-->
        <title>Indoor Plants</title>
        <!--bootstrap-->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css_info/indoor.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css_info/index.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css_info/indoor.css' %}">
        <script src="https://kit.fontawesome.com/1d9b3c3ba8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navbar section -->
        <div>
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="/"><div><img src="{% static 'images/tree2.png' %}" height="40px" width="325px"></div></a>
                <button
                  class="navbar-toggler btn-outline-light"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <form class="form-inline" method="POST">
                        <li class="nav-item">
                          <input class="form-control" id="search_bar" type="search" onkeyup="myFunction()" placeholder="SEARCH..." >
                      </li>
                      </form>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Plants  </a>
                         <ul class="dropdown-menu">
                          <li class="nav-item">
                            <a class="dropdown-item" href="/information/">Plant Information</a>
                          </li>
                          <li class="nav-item">
                            <a class="dropdown-item" href="/information/saplings">Saplings</a>
                          </li>
                         </ul>
                      </li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
                       <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a class="dropdown-item" href="/maps/bloginfo">Available Locations</a>
                        </li>
                        <li class="nav-item">
                          <a class="dropdown-item" href="/maps/">Insert Location</a>
                        </li>
                       </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
                       <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a class="dropdown-item" href="/schedule/">All Events</a>
                        </li>
                        <li class="nav-item">
                          <a class="dropdown-item" href="/schedule/form_fill">Create new event</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                        </li>
                       </ul>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
                    </li> -->
                    {% else %}
                    <script>
                      var x = 1;
                    </script>
                    <li class="nav-item dropdown">
                      <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Locations  </a>
                       <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a class="dropdown-item" href="/login/">Available Locations</a>
                        </li>
                        <li class="nav-item">
                          <a class="dropdown-item" href="/login/">Insert Location</a>
                        </li>
                       </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Events  </a>
                       <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a class="dropdown-item" href="/login/">All Events</a>
                        </li>
                        <li class="nav-item">
                          <a class="dropdown-item" href="/login/">Create new event</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/schedule/terms">Terms and Conditions</a>
                        </li>
                       </ul>
                    </li>
                    {% endif %}
                    
                    <!-- <li class="nav-item">
                      <a class="home-nav-link nav-link" href="/about/">About us</a>
                    </li>
                    <li class="nav-item">
                      <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
                    </li> -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="home-nav-link nav-link" href="/logout/">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="home-nav-link nav-link" href="/login/">Login</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
        </div>
        <br><br>
    <!--Course Cards ROW1-->
<ul class="row" id="out" style="list-style-type: none;">
    <li class="column" id="in">
        <div class="card">
        <img  src="{% static 'images/indoor/tomato.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
        <div class=" content left">
            <h5>Tomato</h5> 
        </div>
            <a href="/information/tomato" style="text-decoration: none;" style="text-decoration: none;">
            <div class=" content right">
                <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
            </div>
            </a>
        </div>
    </li>

    <li class="column" id="in">
        <div class="card">
            <img  src="{% static 'images/indoor/lemon.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Lemon</h5> 
            </div>
            <a href="/information/lemon" style="text-decoration: none;" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/chilly.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Chilly</h5>   
            </div>
            <a href="/information/chilly" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>
<!--Row 2-->
    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/curry.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Curry</h5>
             </div>
            <a href="/information/curry" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/turmeric.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Turmeric</h5>
            </div>
            <a href="/information/turmeric" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/lemon_grass.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Lemongrass</h5>          
            </div>
            <a href="/information/lemongrass" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

<!--Row 3-->
    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/baby_sun_rose.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Baby Sun Rose</h5> 
            </div>
            <a href="/information/babysunrose" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/cycas_palm.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Cycas Palm</h5>
            </div>
            <a href="/information/cycaspalm" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/turmeric.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Money Plant</h5>
            </div>
            <a href="/information/moneyplant" style="text-decoration: none;">
                <div class="content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

<!--Row 4-->
    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/aloevera.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Aloe Vera</h5>
            </div>
            <a href="/information/aloevera" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

    <li class="column" id="in">
        <div class="card">
            <img src="{% static 'images/indoor/indian_basil.jpg' %}" alt="" style="height: 300px; object-fit: cover;"> 
            <div class=" content left">
                <h5>Indian Basil</h5>
            </div>
            <a href="/information/indianbasil" style="text-decoration: none;">
                <div class=" content right">
                    <h6>More &nbsp; <i class="fa fa-arrow-right"></i></h6>
                </div>
            </a>
        </div>
    </li>

</ul>
<br>

<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("search_bar");
        filter = input.value.toUpperCase();
        ul = document.getElementById("out");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("h5")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>



        
    
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
></script>
        
    </body>
    </html>