body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato" , sans-serif;
  font-weight: 200;
  line-height: 1.8em;
  color: #666;
  background-image: linear-gradient(to left,#01201d,#5e804d);

}

/* Navbar section */
.navbar {
  padding: 32px 32px 32px;
  padding-right: 32px;
  font-family: 'Courier New', Courier, monospace;
}
.navbar-brand:hover {
  color:#F2A929;
}
.navbar-brand {
  color:#fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
}
/* .home-nav-collapse {
  color: white;
} */


.nav-item{
    margin: 16px;
    
}
.nav-link{
  color: #fff;
}

.nav-link:hover {
  color:#F2A929;
}


.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  background-attachment:fixed;
}

.pimg1{
  background-image:url('/static/images/shreya/saw1.jpg');
  min-height:100%;

}

.pimg2{
  background-image:url('/static/images/shreya/saw2.jpg');
  min-height:400px;

}

.pimg3{
  background-image:url('/static/images/shreya/saw3.jpg');
  min-height:400px;

}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

