@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
/* Home Page */
body
{
   background-image: linear-gradient(to left,#01201d,#5e804d);
   text-align: center;
   overflow-x: hidden;
}


/* Navbar section */
nav{
  border-bottom: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
}

.navbar {
  padding: 32px 32px 32px;
  padding-right: 32px;
  font-family: 'Courier New', Courier, monospace;
}
.navbar-brand:hover {
  color:#F2A929;
}
.navbar-brand {
  color:#fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
}
/* .home-nav-collapse {
  color: white;
} */


.nav-item{
    margin: 16px;
    
}
.nav-link{
  color: #fff;
}

.nav-link:hover {
  color:#F2A929;
}

  
  .register-form{
    margin: 50px;
    padding: 32px;
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 11px;
    text-align: center;
  }
  .nav-link:hover {
    color:#F2A929;
  }

  /* Title section */

  .title-text {
    color: rgb(34, 34, 34);
    font-size: 32px;
  }

 /* .pad{
    padding: 30px;
  }
*/
  .title-section {
    padding-bottom: 112px;
    padding-top: 32px;
  }
  /* .container
  {
    box-sizing: border-box;
  } */
  .box{
  	padding: 2%;
  }
  .row{
    position: relative;
    margin-top: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .register-left{
    height: auto;
    border: black;
    align-self: center;
    text-align: center;
    background: white;
    border-radius: 4%;
    padding: 50px;
    top: 0;
    transition: top 0.5s ease;
    margin: auto;
    -moz-box-shadow:    7px 10px 11px 0px rgb(46, 45, 45);
    -webkit-box-shadow: 7px 10px 11px 0px rgb(46, 45, 45);
    box-shadow:         7px 10px 11px 0px rgb(46, 45, 45);
  }

  .register-left:hover{
    top: -10px;
}

  .card h2
  {
    font-size: 200%;
    text-align: center;
    margin-bottom: 10px;
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .register-left p {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .register-left .reg-btn
  { 
    font-size: 100%;
    float: center;
    text-align: center;
    border: none;
    background: #000;
    font-weight: 400;
    color: #fff;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .register-left .btn-primary:hover
  {
      background: rgb(252, 187, 46);
      color: white
  }

  .delete-btn{
    background-color: #000;
    color: #fff;
  }

  .report-btn{
    background-color: rgb(172, 0, 0);
    color: #fff;
  }
  /* .btn {
    margin-top: 1rem;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-right: 35.2px;
    padding-left: 35.2px;
    margin-left: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  .btn-light{
    background: rgb(235, 88, 122);
    border:rgb(235, 88, 122);
    border-width: 1.6px;
    border-style: solid;
    border-color: #263E53;
  }
  
  .btn-outline-light{
    border: #fff;
    border-width: 1.6px;
    border-style: solid;
    border-color: #fff;
  }
*/
  .but-text1 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
  }
  .but-text1:hover {
    color: rgb(2, 122, 2);
  }

  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #F2A929;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; /*background-color: #fcc76b;*/ border-radius: 2%; }
    .navbar .nav-item:hover .dropdown-item:hover{ color: white; background-color: #727272; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }

  /*
  .but-text2 {
    text-decoration: none;
    color: #fff;
  }
  .but-text2:hover {
    color: black;
    
  }
  
  .buttons {
    padding-top: 16px;
    padding-left: 16px;
  }
 
   */
   .card {
    width: 35vw;
    height: 40vw;
    background: #000;
}
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;/*100%*/
    height: 40vw;
    background: #ffc107;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    width: 25vw;
    height:30vw;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}
.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 25vw;
    height:10vw;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card .details .center ul li a:hover {
    background: #ff3636;
}