{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coconut &#127793;</title>

    <link rel="stylesheet" href="{% static 'css_info/outdoor/coconut.css' %}">
    
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>

  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="/">Trial 1</a>
    <button
      class="navbar-toggler btn-outline-light"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>
    
    <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/information/">Plant Information</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/functionality/">Maps</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/geofence/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/register/">Register</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/login/">Login</a>
        </li>
        {% endif %}
        
        <!-- <li class="nav-item">
          <a class="home-nav-link nav-link" href="/about/">About us</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
        </li> -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/logout/">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
 
    <div class="pimg1">

        <div class="ptext">
            <span class="border">
                 COCONUT
            </span>
        </div>
    </div>

    <section class="section section-dark">

      <h1>SIZE</h1>

     <p>  
		Trees are classified as dwarf or tall; average height is 50 to 60 feet for tall and 25 feet for dwarf trees. 
	 </p>
    </section>

    <div class="pimg2">

        <section class="section section-dark">
          <h1>LIFE-CYCLE</h1>
          <p >
             The coconut tree grows from a single seed, which is an entire coconut, taking between 3 and 8 years to bear fruit, and living between 60 and 100 years. Each coconut takes almost a year to develop from a flower into a fruit.
          </p>
        </section>
    </div>
    
    <div class="pimg3">

    <section class="section section-dark">
      <h1>CLIMATE</h1>
      <p>
       Coconut palms tolerate some drought, but overall are moisture-loving plants that grow in sandy and loamy soils. They grow beautifully in any tropical climate that provides at least 25 inches of annual rainfall, up to 157 inches. Climates with warm, rainy winters and hot, humid and rainy summers are ideal.
	</p>
    </section>

   </div>
    

    <div class="pimg4">

        <section class="section section-dark">
            <h1>SOIL REQUIREMENTS</h1>
            <p>
               Coconut prefers fertile and adequately drained soils with a minimum depth of 75 cm, with high water-holding capacity (at least 30% clay content). A wide range of soil textures (sand-clay) is suitable for coconut production.
            </p>
        </section>
    </div>
    
        

        <div class="pimg5">

          <section class="section section-dark">
              <h1>WATER TABLE</h1>
              <p>
                 Generally, three to four drippers are given per palm. The water requirement for an adult palm is 40 to 50 litres per day.
		</p>
          </section>
        </div>
      
          

          <div class="pimg6">

            <section class="section section-dark">
                <h1>USES</h1>
                <p>
		Coconut is the fruit of the coconut palm (Cocos nucifera). It's used for its water, milk, oil, and tasty meat. 
    
                </p>

		
            </section>
          </div>
        
            
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>
