{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Outdoor plant-White Guava</title>
  <link rel="stylesheet" href="{% static 'css_info/outdoor/Guava.css' %}">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="new.js"></script>

  <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

 <!-- Google fonts -->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="/">Trial 1</a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/information/">Plant Information</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/functionality/">Maps</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/register/">Register</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/login/">Login</a>
          </li>
          {% endif %}
          
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/logout/">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        WHITE GUAVA
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2></h2>
    <p>
      Guava fruits are typically classified by their colored flesh. It popularly ranges from white-yellow-pink. This
      fruit is native to the Caribbean, Mexico, Central America, and South America in the northern regions.
      However, it is grown globally in places like India, South-western Europe, Southeast Asia, Oceania, and some parts
      of Africa. An intriguing fact about a guava plant is that it can be grown and bear fruit in a pot indoors-
      something that only a few tropical fruit plants can do.
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border">
        CONDITIONS/REQUIREMENTS
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2></h2>
    <p>
    <h2><u>Climate:</u></h2>
    The plants can survive at an elevation of 1600 ft above sea level. The climate for guava farming should be dry with
    distributed rainfall throughout the year. High wind velocity is not suitable for guava trees. Windbreaks are to be
    planted around the guava trees in areas where the wind velocity ranges from 15 to 24 km per hour.
    <br>
    <h2><u>Soil:</u></h2>
    Find moist, well-drained soil. Guava works in a wide variety of soils so long as the soil has good internal and
    external drainage. This just means soil that allows water to pass through it easily.
    <br>
    <h2><u>Water:</u></h2>
    After planting, water your growing guava trees every other day and then once a week for the first year. Guava
    appreciate a deep watering but allow the soil to dry before you water again.
    <br>
    <h1><u>Sunlight:</u></h1>
    At least 6 hours of sunlight a day.
    <br>
    <h2><u>Fertilizer:</u></h2>
    For new plantings, a once-a-month fertilizing regimen is recommended during the first year after the plant exhibits
    signs of new growth. A half-pound (226 g.) of fertilizer per tree per feeding is recommended for fertilizing a guava
    tree.
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border">
        STEPS FOR PROPAGATION OF NEW WHITE GUAVA
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2></h2>
    <p>
      Pick whether you’re going to plant by cutting or seed. The process of growing from either is roughly the same.
      However, while it’s more common to plant guava trees by seed, cuttings are actually more optimal. Cuttings yield
      more fruit and fruit of better quality when compared to seeds, but seeds are cheaper.<br>
      <br>
      1)Grow guava trees in a tropical or subtropical environment. Guava trees thrive in areas where the summers are
      warm,
      and the winters are cool.
      Select a well sunlit spot. Make sure the spot receives at least 6 to 8 hours of sun daily.
      <br>
      <br>
      2)Find moist, well-drained soil. Guava works in a wide variety of soils so long as the soil has good internal and
      external drainage. This just means soil that allows water to pass through it easily.<br>
      <br>
      3)Plan to plant during the spring season. This will be around late March. The conditions of spring weather make it
      the perfect time to plant anything, including guava trees.<br>
      <br>
      4) Pick whether you’re going to plant by cutting or seed. (seed is preferable over cutting)<br>
      <br>
      5)Dig a hole about 2 feet (0.61 m) deep. Remove rocks or other debris you come across while digging. Once you have
      your hole, loosen the soil a bit at the bottom with the tool you used to dig it.
      <br>
      6)Place your seed or cutting in the hole. Fill the hole to about the length of your index finger to create a
      mound. For seeds, place them on top of this mound.<br>
      <br>
      7)Fill the hole around the tree or seed. Don’t compact the soil after you fill the hole, keep it loose. <br>
      <br>
      8)Mark where you’ve placed seeds with little flags that can be easily removed once the seed has sprouted.<br>
      <br>

    </p>
  </section>
  <div class="pimg4">
    <div class="ptext">
      <span class="border">
        PROVIDING DAILY CARE
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2></h2>
    <p>
      1)Water your tree. While the tree is young, you should water it 2 to 3 times a week. Once it matures, however, it
      won’t need as much water so 2 to 3 times a month should suffice. <br>
      <br>
      2)Fertilize the tree once every three months with organic fertilizer. Your tree should be well established before
      performing this step.<br>
      <br>
      3)Prune your guava tree to give it a tree shape. You'll want to start pruning around 3 to 4 months after the tree
      has sprouted. Cut any branches that sprout from other branches and any dead or damaged branches you find as
      well.<br>
      <br>
      4)If your guava is healthy, the leaves should be uniform in color, without a lot of spots, and they should be
      glossy, shiny, and deep green.<br>
      <br>

    </p>
  </section>

  <div class="pimg5">
    <div class="ptext">
      <span class="border">
        USES AND BENEFITS
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2><b><u><i>HEALTH BENEFITS OF WHITE GUAVA</i></u></b></h2>
    <br>

    <p>
      Guavas are known to be really healthy fruits that are high in numerous nutrients and minerals. The following are
      nutrients, minerals, and compounds that can be found in white guava:<br>
      <br>
    <h2><u>Calcium:</u></h2> fortify the bones and teeth.<br>
    <br>
    <h2><u>Copper</u></h2> Assists in the procreation of red blood cells and iron. This nutrient helps to maintain
    strong bones
    (prevents osteoporosis), blood vessels, and fights against cardiovascular disease.<br>
    
    <br>
    <h2><u>Fiber:</u></h2> Dietary fiber assists with digestion, intestinal issues, and constipation.<br>
    <br>
    <h2><u>Folate (Vitamin B9):</u></h2> Creates red and white blood cells, converts carbohydrates into energy, helps
    during growth
    (fetus, infancy, and adolescence stages), produces DNA and RNA.<br>
    <br>
    <h2><u>Iron:</u></h2> This is the main producer of hemoglobin and helps to prevent anemia.<br>
    <br>
    <h2><u>Magnesium:</u></h2> This nutrient is essential for the body to remain healthy. Where it regulates; blood
    pressure, blood
    sugar levels, and muscle and nerve functions. It also assists in the production of protein, DNA, and bone.<br>
    <br>
    <h2><u>Manganese:</u></h2> This activates enzymes for metabolism and other bodily chemical processes. In addition,
    assists with
    protein (and amino acid) utilization and digestion.<br>
    <br>
    <h2><u>Pectin:</u></h2> A soluble fiber in fruits that is good for treating high cholesterol, may prevent colon and
    prostate
    cancer, may improve acid reflux, and may aid in weight loss. This substance gives a nice thickness to pastes that
    guavas are used in or pies.<br>
    <br>
    <br>
    </p>

    <h2><b><u><i>ANOTHER AMAZING BENEFITS OF WHITE GUAVA</i></u></b></h2>
    <br>
    <P>
      <h2><u>Phosphorus:</u></h2> Regulates hormone imbalance, aids in cell and tissue growth/repair/maintenance, and aids in digestion.
      It also assists in the formation of bones and teeth as well as instruct the body on how to use carbohydrates and
      fats.<br>
      <br>
      <h2><u>Potassium:</u></h2> This mineral helps your cardiac and respiratory muscles (and others) to function/work efficiently and
      effectively. It also helps with nerve functionality.<br>
      <br>
      <h2><u>Vitamin A:</u></h2> Boosts your vision and immune system as well as helps your lungs, heart, and kidney (Vitamin A assists
      with the reduction of urinary stone formation) to work properly.<br>
      <br>
      <h2><u>Vitamin B-6 (Pyridoxine):</u></h2> This nutrient helps the body to store and use energy from carbohydrates and protein.
      Aids to produce hemoglobin (which prevents anemia) and may help stimulate the thyroid to assist in weight loss.<br>
      <br>
      It also is a mood stabilizer (aids in creating neurotransmitters that regulate mood which may be beneficial to
      PMS), may treat eye diseases, inflammation caused by rheumatoid arthritis, may reduce the risk of heart diseases
      and clogged arteries, and may promote brain functionality.<br>
      <br>
      <h2><u>Vitamin C (ascorbic acid):</u></h2> This nutrient is a high source in white guava where its content is more potent in this
      fruit than even orange! The nutrient aids in maintaining the immune system, used to prevent/treat scurvy, protects
      cells, maintains a healthy cartilage/teeth/bones/skin/blood vessel, assists with wound healing, repair tissues,
      helps produces enzymes that procreate neurotransmitters, helps with the formation of collagen, absorbs iron and
      many other body functions.<br>
      <br>
      <h2><u>Vitamin E:</u></h2> Supports immune functionality, improves vision, may lower risk of cancer, helps to prevent
      inflammation, and may improve skin health.<br>
      <br>
    </P>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        WHITE GUAVA
      </span>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>

</html>