{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turmeric Plant &#127793;</title>

    <link rel="stylesheet" href="{% static 'css_info/outdoor/gulmohar.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">
    
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>
  <script src="{% static 'js/scroll.js' %}"></script>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

  <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
    <button
      class="navbar-toggler btn-outline-light"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>
    
    <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#size">SIZE</a>
        </li>

        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#cycle">LIFE-CYCLE</a>
        </li>

        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#climate">CLIMATE</a>
        </li>

        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#soil">SOIL REQUIREMENTS</a>
        </li>

        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#watable">WATER TABLE</a>
        </li>

        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#flower">FLOWERING</a>
        </li>

        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#uses">USES</a>
        </li>
        <!-- <li class="nav-item">
          <a class="home-nav-link nav-link" href="/about/">About us</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
        </li> -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="/logout/">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

    
 
    <div class="pimg1">

        <div class="ptext">
            <span class="border">
                GULMOHAR
            </span>
        </div>
    </div>

           <section class="section section-dark">
               
         <h1>DESCRIPTION</h1>
        
 <p>
It is a species of flowering plant. Family Fabaceae, subfamily Caesalpinioideae native to Madagascar. It is noted for its fern-like leaves and flamboyant display of orange-red flowers over summer.
                </p>
            </section>

          <div class="pigm2">

 <section class="section section-dark">
  <h1>SIZE</h1>
     <p>
Gulmohar gets 30-40 ft tall, but its elegant wide-spreading umbrella-like canopy can be wider than its height.
It usually grows to a modest height (mostly 5 m or 15 ft, but it can reach a maximum height of 12 m or 40 ft) but spreads widely, and its dense foliage provides full shade.
The pods are green and flaccid when young and turn dark-brown and woody. They can be up to 60 cm (24 in) long and 5 cm (2 in) wide. 
The seeds are small, weighing around 0.4 grams (6.2 grains) on average.
Each leaf is 30–50 cm (12–20 in) long with 20 to 40 pairs of primary leaflets or pinnae, each divided into 10–20 pairs of secondary leaflets or pinnules.

       </p>
    </section>
</div>

    <div class="pimg3">
        <section class="section section-dark">
          <h1>LIFE CYCLE</h1>
          <p >
            The average life span of the gulmohar has been pegged down to 20-25 years.
          </p>
        </section>
    </div>

    
    <div class="pimg3">
    <section class="section section-dark">
      <h1>CLIMATE</h1>
      <p>
Light Preference: As it is outdoor plant, it requires full sunlight.
The royal poinciana requires a tropical or near-tropical climate, but can tolerate drought and salty conditions.
      </p>
    </section>
   </div>
    

    <div class="pimg4">
        <section class="section section-dark">
            <h1>SOIL</h1>
            <p>
It prefers an open, free-draining sandy or loamy soil enriched with organic matter. The tree does not like heavy or clay soils and flowers more profusely when kept slightly dry.
            </p>
        </section>
    </div>
    

        <div class="pimg5">
          <section class="section section-dark">
              <h1>WATERING</h1>
              <p>
It is a drought tolerant plant, and seeks Average Water.
Before water poke your finger/plain small stick into the soil to check the moisture.
Water when top soil (1-2 inches) feels dry to touch.
Water thoroughly in the summer and reduce watering in winter and rainy season.
              </p>
          </section>
        </div>
<!--back to top start-->

     <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>

      <!--back to top end-->
    
        
            
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>