{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hibuscus &#127800;</title>

    <link rel="stylesheet" href="{% static 'css_info/outdoor/hibiscus.css' %}">
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>
    <!-- <a href="register">register</a><br>
    <a href="login">login</a><br> -->

    
    
    <!-- Navbar section -->

    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="/">Trial 1</a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/information/">Plant Information</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/functionality/">Maps</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/register/">Register</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/login/">Login</a>
          </li>
          {% endif %}
          
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/logout/">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

 <div class="pimg1">
    <div class="ptext">
        <span class="border">
           HIBUSCUS
        </span>
    </div>
</div>

<section class="section section-dark">
    <h1>SIZE</h1>
    <p>
       
        Hibiscus species capable of growing to the size of trees are commonly pruned and grown as shrubs 10 to 15 feet tall. Unpruned, they grow into trees with either single and multiple trunks, 
        depending on the species. Some Hibiscus varieties grow as shrubs in weather that is marginal for their species, but grow into trees in suitable climates. 
        The largest Hibiscus trees, those that reach 30 feet or higher, grow in Hawaii or U.S.
    </p>
</section>

<div class="pimg2">

    <section class="section section-dark">
        <h1>LIFE-CYCLE</h1>
        <p>
            THEY CAN LIVE UPTO 50 YEARS OR MORE.
        </p>
    </section>
</div>

<div class="pimg3">

<section class="section section-dark">
    <h1>CLIMATE</h1>
    <p>
        Hibiscuses like temperatures between 60-85°F. If temperatures are below 50°F, most growth and blooming will stop and flower size will be smaller and deformed.
        A freeze will cause the plant to die so be sure to move your plant indoors before the first fall frost. 
       Hibiscus is also very sensitive to extreme heat.
    </p>
</section>
</div>


<div class="pimg4">

    <section class="section section-dark">
        <h1>SOIL REQUIREMENTS</h1>
        <p>
            Tropical hibiscus needs moist but well-drained soil. Perennial hibiscus grows best in moist soil that never completely dries out
(this type can handle a bit more water than tropical hibiscus).
        </p>
    </section>
</div>

    

    <div class="pimg5">

      <section class="section section-dark">
          <h1>WATER TABLE:</h1>
          <p>
            Keep the soil surrounding the hibiscus moist but not soggy. For the first week after planting, water daily, tapering off to once every two days in the second week,
            and then about twice a week thereafter, when there is no rainfall. 
            If the weather becomes especially hot and dry, water every other day.
          </p>
      </section>
    </div>
  
      

      <div class="pimg6">

        <section class="section section-dark">
            <h1>FLOWERING</h1>
            <p>
                They typically have larger flowers and lighter green leaves, but the bloom size and leaf color vary greatly from species to species. Some plants can grow to be quite large (up to 7 to 8 feet tall). 
                Perennial hibiscus blooms in mid to late summer.Flowers are typically white, pink, lavender, red, or burgundy.
                
            </p>
        </section>
      </div>

      <div class="pimg7">

        <section class="section section-dark">
            <h1>USES</h1>
            <p>
              Hibuscus Tea helps to:<br>
                1)It can help prevent Hair Loss.<br>
                2)Helps in improving digestion.<br>
                3)Helps in managing blood pressure.
                
            </p>
        </section>
      </div>

    
        

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>