{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamun</title>
    <link rel="stylesheet" href="{% static 'css_info/outdoor/jamun.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <script src="{% static 'js/scroll.js' %}"></script>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->
  
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
        <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#soil">Soil</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#area">Area</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#temp">Temperature</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#life">Lifespan</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#uses">Uses</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#ben">Benefits</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#fert">Fertilizers</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#water">Water</a>
            </li>
  
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/about/">About us</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Jamun Plant
            </span>
        </div>
    </div>
            <section class="section section-dark" id="soil">
                <h2 style="color: burlywood; font-size: xx-large;">Size</h2>
                <p>
                  The seedling Jamun trees start bearing after 9 to 10 years of planting. Grafted or Budded trees start bearing in 5 to 7 years. The Jamun plant can bear  for the life span of 60 years. Generally Jamun fruits come to the ripening stage in June-July.
                </p>
            </section>

            <div class="pimg2">
             
            
            <section class="section section-dark" id="area">
                <h2 style="color: burlywood; font-size: xx-large;">Life Cycle</h2>
                <p>
                  Jamun trees usually reach a height of 30-35 feet and bear fruits for 60 to 70 years after planting.

                </p>
            </section>
          </div>

            <div class="pimg3">
            

            <section class="section section-dark" id="temp">
                <h2 style="color: burlywood; font-size: xx-large;">Climate</h2>
                <p>
                  Jamun is a hardy fruit, it can be grown under adverse soil and climate conditions. It requires dry weather at the time of flowering and fruit setting. Early rains are beneficial for better growth, development and ripening of fruit. Young plants are susceptible to frost.

                </p>
            </section>
          </div>

            <div class="pimg4">
            

            <section class="section section-dark" id="life">
                <h2 style="color: burlywood; font-size: xx-large;">Soil</h2>
                <p>
                  Deep loam and well-drained soils are, however, the most ideal. It does not like very heavy and light sandy soils.
                </p>
            </section>
          </div>

            <div class="pimg8">

              <section class="section section-dark" id="water">
                  <h2 style="color: burlywood; font-size: xx-large;">Watering/Care</h2>
                  <p>
                    Young Jamun plants in early stages require frequent watering but subsequently, irrigations should be reduced, initial stages of plants require about 12 irrigation per year (monthly once).
  Mature trees require once in 2 months in a year, this is important at the fruit ripening stage, occasional irrigation may be carried out when the soil becomes dry and to keep the soil in moist condition.
  
                  </p>
              </section>
              </div>

            <section class="section section-dark" id="uses">
                <h2 style="color: burlywood; font-size: xx-large;">Uses</h2>
                <p>
                  Jamun fruits, leaves, seeds, and bark are used as ayurvedic medicine.
                  The Jamun fruit extract is used in treating the common cold, cough, and flu.
                  The Jamun bark is a mixture of bio components like tannins and carbohydrates, they impart as astringent to fight dysentery.
                  The Jamun seed is rich in glycosides which possess anti-diabetic properties.
                  Jamun juice is used in treating sore throat problems.
                  Jamun fruit juice is effective in enlargement of the spleen.
                  Due to the antibacterial properties of Jamun fruit juice, it is used for dandruff.
                  The Jamun fruit extracts have strong anti-viral, anti-bacterial, and antifungal properties and thus it is recommended to be used for treating and healing wounds.
                  Bleeding hemorrhoids can be cured by regular consumption of Jamun fruit juice.
                  The Jamun fruit has an antacid property and it prevents acid formation in the stomach therefore it is used in treating gastritis.
                  
                </p>
            </section>

          
      

            
            <div class="pimg9">
            </div> 

            <!--back to top start-->

          <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>

            <!--back to top end-->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>