{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamun Plant</title>
    <link rel="stylesheet" href="{% static 'css_info/outdoor/jamun.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/">Trial 1</a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/information/">Plant Information</a>
            </li>
  
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/functionality/">Maps</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/geofence/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/register/">Register</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/login/">Login</a>
            </li>
            {% endif %}
            
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/about/">About us</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Jamun Plant
            </span>
        </div>
    </div>
            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Soil</h2>
                <p>
                   The Jamun trees can be grown on a wide range of soils - calcareous, saline sodic soils and marshy areas.<br>
Deep loam and well-drained soils are, however, the most ideal.<br>
It does not like very heavy and light sandy soils.

                </p>
            </section>

            <div class="pimg2">
             </div>
            
            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Area</h2>
                <p>
                    Required pit size- 1m x 1m x 1m.<br>
                    Spacing –
                    (i)For seedling trees: 10m x 10m
                    (ii) For budding and grafted plants: 8m x 8m.<br>
                    While digging the pit ,the top soil up to the depth of about 45 cm should be placed one side and sub soil below this should be heaped other side.
                    
                </p>
            </section>

            <div class="pimg3">
            </div>

            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Temperature</h2>
                <p>
                    Jamun is a hardy fruit, it can be grown under adverse soil and climate conditions.<br>
                    It thrives well under both tropical and subtropical climates.<br>
                    It requires dry weather at the time of flowering and fruit setting.<br>
                    Early rains are beneficial for better growth, development and ripening of fruit.<br>
                    Young plants are susceptible to frost.
                    
                </p>
            </section>

            <div class="pimg4">
            </div>

            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Lifespan</h2>
                <p>
                    The seedling Jamun trees start bearing after 9 to 10 years of planting.<br>
                    Grafted or Budded trees start bearing in 5 to 7 years.<br>
                    The Jamun plant can bear  for the life span of 60 years.<br> Generally Jamun fruits come to the ripening stage in June-July.<br>
                    After full bloom, It takes about 4 to 5 months to ripen the fruits.
                    
                </p>
            </section>

            <div class="pimg5">
            </div>

            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Uses</h2>
                <p>
                    Jamun fruits, leaves, seeds, and bark are used as ayurvedic medicine.<br>
                    The Jamun fruit extract is used in treating the common cold, cough, and flu.<br>
                    The Jamun bark is a mixture of bio components like tannins and carbohydrates, they impart as astringent to fight dysentery.<br>
                    The Jamun seed is rich in glycosides which possess anti-diabetic properties.<br>
                    Jamun juice is used in treating sore throat problems.<br>
                    Jamun fruit juice is effective in enlargement of the spleen.<br>
                    Due to the antibacterial properties of Jamun fruit juice, it is used for dandruff.<br>
                    The Jamun fruit extracts have strong anti-viral, anti-bacterial, and antifungal properties and thus it is recommended to be used for treating and healing wounds.<br>
                    Bleeding hemorrhoids can be cured by regular consumption of Jamun fruit juice.<br>
                    The Jamun fruit has an antacid property and it prevents acid formation in the stomach therefore it is used in treating gastritis.
                    
                </p>
            </section>

            <div class="pimg6">
            </div>

            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Benefits</h2>
                <p>
                    Improves hemoglobin count<br>
                    Strengthens your gums and teeth<br>
                    Keeps your heart healthy<br>
                    Prevents infection<br>
                    Treats diabetes<br>
                    Helps Regulate Blood Pressure<br>
                    Boost Immunity<br>
                    Aids Weight Loss
                    
                     
                </p>
            </section>

            <div class="pimg7">
            </div>

            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Fertilizers</h2>
                <p>
                    Seedling Jamun trees start bearing fruits @ age of 8 – 10 years while budded and grafted trees  start bearing in 6 – 7 years.<br>
                    In the Pre-bearing stage, about 30 kg of well rotten farmyard manure (F.M.Y) (or) compost per plant per year should be applied.<br>
                    For bearing Jamun trees,  about 70 kg of F.M.Y per plant and per year should be applied.<br>
                    Organic manures should be applied just a month before flowering starts.<br>
                    Other in-organic fertilizers like 500 kg of “N”,600 grams & 300 grams of “K”/plant/year should be applied.<br>
                    This should be applied near the canopy of the tree & mixed in field soil by hoeing.<br>
                    
                </p>
            </section>

            <div class="pimg8">
            </div>

            <section class="section section-dark">
                <h2 style="color: burlywood; font-size: xx-large;">Water</h2>
                <p>
                    Young Jamun plants in early stages require frequent watering but subsequently, irrigations should be reduced, initial stages of plants require about 12 irrigation per year (monthly once).<br>
                    Mature trees require once in 2 months in a year, this is important at the fruit ripening stage, occasional irrigation may be carried out when the soil becomes dry and to keep the soil in moist condition.
                    
                </p>
            </section>
            
            <div class="pimg9">
            </div> 
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>