{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Neem &#127793;</title>

    <link rel="stylesheet" href="{% static 'css_info/outdoor/neem.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="new.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script>
    <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>

    <script src="{% static 'js/scroll.js' %}"></script>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->
    <!--back to top button-->

    <!-- <a href="register">register</a><br>
    <a href="login">login</a><br> -->



    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
        <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="50px"></a>
        <button class="navbar-toggler btn-outline-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>

        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#intro">Introduction</a>
                </li>

                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#size">Size</a>
                </li>
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#life">Life Cycle</a>
                </li>
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#climate">Climate</a>
                </li>
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#soil">Soil</a>
                </li>

                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#water">Water Usage</a>
                </li>
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#req">Requirments</a>
                </li>
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="#uses">Uses</a>
                </li>

                <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="/logout/">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                NEEM
            </span>
        </div>
    </div>
    <div class="pimg">
        <section class="section section-dark" id="intro">

            <h1>INTRODUCTION</h1>

            <p>
                Neem also called nim or margosa, fast-growing tree of the mahogany family (Meliaceae), valued as a
                medicinal plant, as a source of organic pesticides, and for its timber. Neem is likely native to the
                Indian subcontinent and to dry areas throughout South Asia.
            </p>
        </section>
    </div>

    <div class="pimg2">

        <section class="section section-dark" id="size">
            <h1>SIZE</h1>
            <p>
                Neem trees can reach 15–30 metres (49–98 feet) in height and have attractive rounded crowns and thick
                furrowed bark.
            </p>
        </section>
    </div>

    <div class="pimg3">

        <section class="section section-dark" id="Life">
            <h1>LIFE CYCLE</h1>
            <p>
                Neem trees are fast growers, and in three years may grow to 20 feet in height from seed planting. It
                will grow where rainfall is only 18 inches per year and it thrives in areas of extreme heat up to 120
                degrees. It is estimated that a neem tree has a productive life span of 150 - 200 years.
            </p>
        </section>

    </div>

    <div class="pimg4">

        <section class="section section-dark" id="climate">
            <h1>CLIMATE</h1>
            <p>
                Neem is a hardy tree that can tolerate temperatures up to 120 F. (50 C.). However, extended cool weather
                with temperatures below 35 F. (5 C.) will cause the tree to drop its leaves.
            </p>
        </section>

    </div>

    <div class="pimg4">

        <section class="section section-dark" id="soil">
            <h1>SOIL</h1>
            <p>
                Neem is usually grown from seed but can be propagated from cuttings or root suckers. The plant is hardy
                and resilient and grows well in poor, rocky soils.
            </p>
        </section>

    </div>

    <div class="pimg5">

        <section class="section section-dark" id="water">
            <h1>WATER USAGE</h1>
            <p>
                Neem tree needs little water and plenty of sunlight. The tree grows naturally in areas where the
                rainfall is in the range of 450 to 1200 mm. However, it has been introduced successfully even in areas
                where the rainfall is as low as 200 – 250 mm. It cannot withstand water-logged areas and poorly drained
                soils.
            </p>
        </section>

    </div>

    <div class="pimg6">

        <section class="section section-dark" id="req">
            <h1>REQUIRMENTS</h1>
            <p>
                Neem trees require plenty of bright sunlight. The trees benefit from regular moisture, but be careful
                not to overwater, as the tree won’t tolerate wet feet or poorly drained soil. Allow the soil to dry
                between every watering.Feed the tree about once a month in spring and summer, using a light application
                of any good quality, balanced fertilizer or a dilute solution of water-soluble fertilizer. You can also
                apply a diluted fish emulsion.

            </p>
        </section>

    </div>

    <div class="pimg3">

        <section class="section section-dark" id="uses">
            <h1>USES</h1>
            <p>
                -- Nearly all parts of the neem tree are useful, and many of its medicinal and cosmetic uses are based
                on
                its antibacterial and antifungal properties.
                -- Neem is commonly used in shampoos for treating dandruff and in soaps or creams for skin conditions
                such
                as acne, psoriasis, and athlete’s foot.
                -- It is also a component in some toothpastes and mouthwashes, especially in the Indian subcontinent,
                and
                young twigs are used directly as crude toothbrushes in rural areas.
                -- Neem leaves have long been used as a traditional treatment for diabetes, and there is some clinical
                evidence suggesting that it may help control blood sugar levels.
                -- Neem oil and neem bark and leaves are unsafe for consumption by pregnant women and can cause
                miscarriage.

            </p>
        </section>

    </div>

    <!--back to top start-->

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <!--back to top end-->




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


</body>

</html>