{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content+"width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content+"ie+edge">
    <title>Papaya Tree</title>
    <link rel="stylesheet" href="{% static 'css_info/outdoor/papayastyle.css' %}">
  </head>
  <body>
    <div class="pimg1">
      <div class="ptext">
        <span class="border">
          Papaya Tree
        </span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Size</h2>
      <p>
        Usually with a single stem growing from 5 to 10 m (16 to 33 ft) tall. The leaves are 50–70 cm (20–28 in) in diameter.
        The fruit is generally spherical or cylinder in form and about 15–45 cm (5.9–17.7 in) long and 10–30 cm (3.9–11.8 in) in diameter.
      </p>
    </section>

  <div class="pimg2">
    </div>

    <section class="section section-dark">
      <h2>Soil</h2>
      <p>
        Papaya grows well in well-drained rich sandy loam soils with a depth of 45cm or medium black soils free from water logging. Light soils with pH between 6.5-7 are very good for papaya, if they are adequately manured.
      </p>
      <h2>Life Cycle</h2>
      <p>
        Generally short-lived although may live up to 20 years.
      </p>
    </section>

    <div class="pimg3">
    </div>

    <section class="section section-dark">
      <h2>Climate</h2>
      <p>
Papaya is a tropical crop, but it does well in a mild tropical climate. It grows well from sea level upto an altitude of 1000m. Papaya should not be grown in areas with strong, hot or dry winds. Dry climate at the time of ripening adds to the sweetness of fruits. Ideal temperature for growing papaya is between 25-30 C while temperatures below 10 C delays ripening. In high rainfall areas are not suitable for growing papaya due to the death of the plants by collar- rot disease.
      </p>
    </section>

    <div class="pimg4">
    </div>

    <section class="section section-dark">
      <h2>Watering/Care</h2>
      <p>
        Papayas need little water. They will, however, give more and bigger fruit if they are watered every 2 weeks in the dry season. The flowers will drop if they do not get enough water. If they are planted in clay soils, make sure that the soil does not stay too wet.
      </p>
    </section>

    <div class="pimg1">
      <div class="ptext">
      </div>
    </div>
  </body>
</html>
