{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PLUMBAGO  &#127793;</title>

    <link rel="stylesheet" href="{% static 'css_info/outdoor/plumbago.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>
    <!-- <a href="register">register</a><br>
    <a href="login">login</a><br> -->
    <script src="{% static 'js/scroll.js' %}"></script>

    <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

    
    
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
      <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#intro">Introduction</a>
          </li>

          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#history">Size</a>
          </li>

          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#uses">Life Cycle</a>
          </li>

          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#horti">Climate</a>
          </li>

          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#soil">Soil</a>
          </li>

          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#water">Waterin & Care</a>
          </li>

          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#use">Uses</a>
          </li>
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/logout/">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
 
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                PLUMBAGO 
            </span>
        </div>
    </div >
    <div class="pimg">
    <section class="section section-dark" id="intro">
    
      <h1>Introduction</h1>

     <p>  Plumbago is a genus of 10–20 species of flowering plants in the family Plumbaginaceae, native to warm temperate to tropical regions of the world. Common names include plumbago and leadwort (names which are also shared by the genus Ceratostigma).
       </p>
    </section>
    </div>

    <div class="pimg2">

        <section class="section section-dark" id="history">
          <h1>Size</h1>
          <p >
            Mature Height is 3-4 feet tall, 4-5 feet wide.
          </p>
        </section>
    </div>
    
    <div class="pimg3">

    <section class="section section-dark" id="uses">
      <h1>Life Cycle</h1>
      <p>
        Less than 25 years.
      </p>
    </section>

   </div>
          <div class="pimg6">

            <section class="section section-dark" id="horti">
                <h1>Climate</h1>
                <p>
                  Will do well in either sun or partial shade. My experience is that plumbago does best with late afternoon shade.
                </p>
            </section>
          </div>

          <div class="pimg">
            <section class="section section-dark" id="soil">
            
              <h1>Soil</h1>
        
             <p>  It will grow in any soil, but will perform best if planted with plenty of compost.

               </p>
            </section>
            </div>

            <div class="pimg2">

              <section class="section section-dark" id="water">
                <h1>Watering & care</h1>
                <p >
                  After establishment, water deeply (3/4 inch) twice a month. No fertilizers needed.<br>
Pruning: once in early March and once in late August. Prune ½ of the plant in early spring and ¼ of the plant in late summer.

                </p>
              </section>
          </div>

          <div class="pimg3">

            <section class="section section-dark" id="use">
              <h1>Uses</h1>
              <p>
                Plumbago is used traditionally to treat warts, broken bones and wounds.<br>
It is taken as a snuff for headaches and as an emetic to dispel bad dreams.<br> 
A stick of the plant is placed in the thatch of huts to ward off lightning.<br>

              </p>
            </section>
        
           </div>

          <!--back to top start-->

          <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>

            <!--back to top end-->
        
            
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>