body, html{
  height:100%;
  margin: 0;
  font-size:24px;
  font-family: "sans-serif";
  font-weight:500;
  line-height:1.2em;
  color:rgb(0, 0, 0);
  background-image: linear-gradient(to left,#01201d,#5e804d);
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
  position:relative;
  opacity:1;
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('/static/images/Sohan_D/Guavaimg1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('/static/images/Sohan_D/Guavaimg2.jfif');
  min-height:400px;
}

.pimg3{
  background-image:url('/static/images/Sohan_D/Guavaimg3.jpg');
  min-height:400px;
}

.pimg4{
  background-image:url('/static/images/Sohan_D/Guavaimg4.jpg');
  min-height:400px;
}

.pimg5{
  background-image:url('/static/images/Sohan_D/Guavaimg5.jfif');
  min-height:400px;
}

.section{
  text-align:left;
  padding:50px 100px;
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

p{
  font-size: x-large;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    background-attachment:scroll;
  }
}
