body, html{
    height: 100%;
    margin:0;
    font-size:16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    
    }
    
    .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9{
        position: relative;
        opacity: 0.9;
        background-position: center;
        background-attachment: fixed;
    }
    
    .pimg1{
        background-image: url('/static/images/jamun/img/img-header.jpeg');
        min-height: 100%;
    }
    
    .pimg2{
        background-image: url('/static/images/jamun/img/img-soil.jpg');
        min-height: 100%;
    }
    
    .pimg3{
        background-image: url('/static/images/jamun/img/img-area.jpg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .pimg4{
        background-image: url('/static/images/jamun/img/img-temp.jpg');
        min-height: 100%;
    }
    
    .pimg5{
        background-image: url('/static/images/jamun/img/img-lifespan.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .pimg6{
        background-image: url('/static/images/jamun/img/img-uses.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .pimg7{
        background-image: url('/static/images/jamun/img/img-benefits.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .pimg8{
        background-image: url('/static/images/jamun/img/img-fertilizers.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .pimg9{
        background-image: url('/static/images/jamun/img/img-water.jpeg');
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .section{
        text-align: center;
        padding: 50px 180px;
    }
    
    .soil{
        background-color: #282e34;
        color: hsl(0, 100%, 99%);
        
    }
    
    .area{
    background-color: #282e34;
    color: hsl(0, 100%, 99%);
    }
    
    .temperature{
        background-color: #282e34;
        color:  hsl(0, 100%, 99%);
    }
    
    .lifespan{
        background-color: #282e34;
        color: hsl(0, 100%, 99%);
    }
    
    .uses{
        background-color: #282e34;
        color:  hsl(0, 100%, 99%);
    }
    .benefits{
        background-color: #282e34;
        color:  hsl(0, 100%, 99%);
    }
    
    .fertilizers{
        background-color: #282e34;
        color:  hsl(0, 100%, 99%);
    }
    .water{
        background-color: #282e34;
        color:  hsl(0, 100%, 99%);
    }
    
    .ptext{
        position:absolute;
        top:50%;
        width: 100%;
        text-align: center;
        color:#000;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    
    .ptext .border{
        background-color: #111;
        color: #fff;
        padding: 20px;
        border: 1px solid navajowhite;
    }
    
    @media(max-width:568px){
    .pimg1,.pimg2,.pimg3,.pimg4,.pimg5,.pimg6,.pimg7,.pimg8,.pimg9{
        background-attachment: scroll;
    }
    }