{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for blog in blog_data %}
    <div class="col-md-3 reg register-left" ">
        <h2> User: {{ blog.user }}</h2>
        <h4> Address: {{ blog.address }}</h4>
        <h4> Link: {{ blog.maps_link }}</h4>
        <h4> Approx Size Of Place For Plantation: {{ blog.area }}</h4>
        {% if blog.permission_required == '1' %}
        <h4>permisson required: Yes</h4>
        <h4>Management info:</h4>
        <h4>Name = {{blog.contact_management_name}}</h4>
        <h4>Contact No. = {{blog.contact_management_num}}</h4>
        {% else %}
        <h4>permisson required: No</h4>
        {% endif %}
      </div>
    {% endfor %}
</body>
</html>