/* Home Page */
body
{
   background-image: linear-gradient(to left,#01201d,#5e804d);
}

/* Navbar section */
.navbar {
    padding: 32px 32px 32px;
    padding-right: 32px;
    font-family: 'Courier New', Courier, monospace;
  }
  .navbar-brand:hover {
    color:#F2A929;
  }
  .navbar-brand {
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
  }
  /* .home-nav-collapse {
    color: white;
  } */

  
  .nav-item{
      margin: 16px;
      
  }
  .nav-link{
    color: #fff;
  }
  
  .nav-link:hover {
    color:#F2A929;
  }

  /* Title section */
  .title-section {
    padding-bottom: 112px;
    padding-top: 32px;
  }
  
  .title-text{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 32px;
    margin-left: 32px;
    padding-top: 80px;
  }
  .subtitle-text{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 20px;
    margin-left: 32px;
    /* padding-top: 80px; */
  }
  .btn {
    margin-top: 1rem;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-right: 35.2px;
    padding-left: 35.2px;
    margin-left: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  .btn-light{
    background: rgb(235, 88, 122);
    border:rgb(235, 88, 122);
    border-width: 1.6px;
    border-style: solid;
    border-color: #263E53;
  }
  
  .btn-outline-light{
    border: #fff;
    border-width: 1.6px;
    border-style: solid;
    border-color: #fff;
  }

  .but-text1 {
    text-decoration: none;
    color: #fff;
    
  }
  .but-text1:hover {
    color: black;
  }
  .but-text2 {
    text-decoration: none;
    color: #fff;
  }
  .but-text2:hover {
    color: black;
    
  }
  
  .buttons {
    padding-top: 16px;
    padding-left: 16px;
  }
 
  