/* Home Page */
body
{
   background-image: linear-gradient(to left,#01201d,#5e804d);
    overflow-x: none;
    
}

nav{
  border-bottom: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
}

/* Navbar section */
.navbar {
    padding: 32px 32px 32px;
    padding-right: 32px;
    font-family: 'Courier New', Courier, monospace;
  }
  .navbar-brand:hover {
    color:#F2A929;
  }
  .navbar-brand {
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
  }
  /* .home-nav-collapse {
    color: white;
  } */

  
  .nav-item{
      margin: 16px;
      
  }
  .nav-link{
    color: #fff;
  }
  
  .nav-link:hover {
    color:#F2A929;
  }

  /* Title section */
  .title-section {
    padding-bottom: 112px;
    padding-top: 32px;
  }
  
  .title-text{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 32px;
    margin-left: 32px;
    padding-top: 80px;
  }
  .subtitle-text{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 26px;
    margin-left: 32px;
    /* padding-top: 80px; */
  }

  .footer-subtitle-text{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 12px;
    margin-left: 32px;
    text-align: left;
    /* padding-top: 80px; */
  }

  .footertextright{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 12px;
    margin-left: 32px;
    text-align: end;
    /* padding-top: 80px; */
  }

  .smallsubtitle-text{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 20px;
    margin-left: 32px;
    /* padding-top: 80px; */
  }
  .btn {
    margin-top: 1rem;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-right: 35.2px;
    padding-left: 35.2px;
    margin-left: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  .btn-light{
    background: rgb(235, 88, 122);
    border:rgb(235, 88, 122);
    border-width: 1.6px;
    border-style: solid;
    border-color: #263E53;
  }
  
  .btn-outline-light{
    border: #fff;
    border-width: 1.6px;
    border-style: solid;
    border-color: #fff;
  }

  .but-text1 {
    text-decoration: none;
    color: #fff;
    
  }
  .but-text1:hover {
    color: black;
  }
  .but-text2 {
    text-decoration: none;
    color: #fff;
  }
  .but-text2:hover {
    color: black;
    
  }
  
  #left {    
    float: left;  
    }  

  .buttons {
    padding-top: 16px;
    padding-left: 16px;
  }

  ul#menu li {
    display:inline;
  }

  .panel-footer.panel-custom {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow-x: hidden;
    margin-bottom: 0%;
   

}
 
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #F2A929;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; /*background-color: #fcc76b;*/ border-radius: 2%; }
  .navbar .nav-item:hover .dropdown-item:hover{ color: white; background-color: #F2A929; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
  