*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    align-content: center;
    margin-top: 0px;
    /* padding-left: 9.375rem; */
}

/* body{
    overflow-x: hidden;
} */

.regis-page
{
    background-image: linear-gradient(to right,#01201d,#5e804d);
    margin-top: 60px;
}

.container
{
    box-sizing: border-box;
}

.title-text {
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    color: #fff;
    font-size: 32px;
    margin-left: 32px;
    padding-top: 80px;
  }

.register-right
{
    text-align: center;
    color: #ffffff;
    padding: 60px;
    padding-top: 32px;
    padding-bottom: 32px;
}


.register-right p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px 0;
    
}

.register-right h2{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.register-right .btn-primary
{
    width: 15rem;
    font-weight: 400;
    color: #555;
    margin-top: 20px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.register-right .btn-primary:hover
{
    background: #000;
}

.register-left
{
    border: black;
    
    text-align: center;
    background: #f8f8f8;
    border-radius: 5%;
    padding: 20px;
    padding-top: 50px;
    -moz-box-shadow:    7px 10px 11px 0px rgb(46, 45, 45);
    -webkit-box-shadow: 7px 10px 11px 0px rgb(46, 45, 45);
    box-shadow:         7px 10px 11px 0px rgb(46, 45, 45);
}

.register-c
{
    height: auto;
    border: black;
    align-self: center;
    text-align: center;
    background: white;
    border-radius: 4%;
    padding: 50px;
    top: 0;
    transition: top 0.5s ease;
    margin: auto;
    -moz-box-shadow:    7px 10px 11px 0px rgb(46, 45, 45);
    -webkit-box-shadow: 7px 10px 11px 0px rgb(46, 45, 45);
    box-shadow:         7px 10px 11px 0px rgb(46, 45, 45);
}
/* @media(max-width: 1028px){
    .register-right{
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
    }
} */


.register-left h2
{
    text-align: center;
    margin-bottom: 10px;
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.register-left p {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.register-form
{
    padding: 80px;
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 11px;
    text-align: center;
}



.register-left .reg-btn
{
    float: center;
    text-align: center;
    border: none;
    width: 150px;
    background: #000;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.register-left .btn-primary:hover
{
    background: green;
    color: white
}

.messages{
    color: red;
}

.below-writeup{
    text-align: center;

}
h3{
    padding-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Login Form*/

.login-page
{
    background-image: linear-gradient(to left,#01201d,#5e804d);
    margin-top: 120px;
}
.login-left
{
    border: none;
    text-align: center;
    background: #f8f8f8;
    border-radius: 5%;
    -moz-box-shadow:    7px 10px 11px 0px rgb(46, 45, 45);
    -webkit-box-shadow: 7px 10px 11px 0px rgb(46, 45, 45);
    box-shadow:         7px 10px 11px 0px rgb(46, 45, 45);
}


/* @media screen and (min-width:340px) and (max-width:670px){
    .row{
        justify-content: center;
        margin-left: 7%;
    }
      

  } */


.login-left h1
{
    text-align: center;
    padding-top: 32px;
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.login-left p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-form
{
    
    padding: 10%;
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 11px;
    text-align: center;
}

.login-f{
    padding: 30px;
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 11px;
    text-align: center;
}


.login-left .login-btn
{
    float: center;
    text-align: center;
    border: none;
    width: 120px;
    background: #000;
    font-weight: 400;
    color: #fff;
    margin-top: 40px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-left .btn-primary:hover
{
    background: green;
}

.login-below-writeup{
    text-align: center;
    padding: 8%;

}
h3{
    padding-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-right
{
    width: 60%;
    text-align: center;
    color: #ffffff;
}

.login-right h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.login-right p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.login-right .btn-primary
{
    border-radius: 24px;
    border: none;
    width: 240px;
    background: rgb(195, 210, 203);
    font-weight: 400;
    color: #555;
    margin-top: 20px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-right .btn-primary:hover
{
    background: #000;
}