<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turmeric Plant &#127793;</title>

    <link rel="stylesheet" href="fork.css">
    
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>

    
 
    <div class="pimg1">

        <div class="ptext">
            <span class="border">
                FORK
            </span>
        </div>
    </div>

    <section class="section section-dark">

      <h1>DESCRIPTION</h1>

     <p> It is a gardening implement, with a handle and several (usually four) short. 
       </p>
    </section>

    <div class="pimg2">

        <section class="section section-dark">
          <h1>PURPOSE</h1>
          <p >
            It is used for loosening, lifting and turning over soil in gardening and farming.
          </p>
        </section>
    </div>
    
    <div class="pimg3">

    <section class="section section-dark">
      <h1>USEFULNESS</h1>
      <p>
        The tines allow the implement to be pushed more easily into the ground, it can take out stones and weeds and break up clods, it is not so easily stopped by stones, and it does not cut through weed roots or root-crops.
      </p>
    </section>

   </div>
    

    <div class="pimg4">

        <section class="section section-dark">
            <h1>DIFFERENCE</h1>
            <p>
              Garden forks are slightly different from pitchforks, which are used for moving loose materials such as piled hay, compost, or manure. 
Garden forks have comparatively a fairly short, usually wooden handle, with a "D" or "T" end. 
Their tines are usually shorter, flatter, thicker, and more closely spaced.
            </p>
        </section>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>