{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TOOLS-Garden knife</title>
  <link rel="stylesheet" href="{% static 'css_info/gardening_tools/knife.css' %}">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="new.js"></script>

  <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

 <!-- Google fonts -->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/">TreeAsure</a>
  <button
    class="navbar-toggler btn-outline-light"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  
  <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/information/">Plant Information</a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/functionality/">Maps</a>
      </li>
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/geofence/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/register/">Register</a>
      </li>
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/login/">Login</a>
      </li>
      {% endif %}
      
      <!-- <li class="nav-item">
        <a class="home-nav-link nav-link" href="/about/">About us</a>
      </li>
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
      </li> -->
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="home-nav-link nav-link" href="/logout/">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<body>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->


  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        GARDEN KNIFE
      </span>
    </div>
  </div>

  <section class="section section-light">
    <h2></h2>
    <p>
      Garden knife is also know as hori hori.<br>
      A gardening knife is one of the most useful tools to have close at hand in the garden. A good pruning knife can be
      used for chopping lettuces, kale and other crops, chopping string, and cutting flowers. Whether you need to
      quickly tie in a climber or harvest your vegetables from the kitchen garden, a gardener’s knife is a good addition
      to any gardener’s tool box.
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border">
        USES OF KNIFE (hori hori)
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2></h2>
    <p>
      <br>
    <h2>Cutting:</h2>Since it’s both a knife and a shovel it can be used to harvest herbs, vegetables, fruit or whatever
    ever
    else you’ve got growing. It can also be used to cut down weeds like thistles, or to cut vining plants like
    honeysuckle.<br>
    <br>
    <h2> Weeding:</h2>A Hori Hori can also be used as a weeder for digging deep-rooted weeds. Just slide the blade down
    next to
    the center of the weed. Then move the handle away from the weed while at the same time pulling gently yet firmly
    on the weed. The blade will help to loosen the soil around the root so the weed can come right out and you won’t
    have to worry about it coming back in the next few weeks.<br>
    <br>
    <h2>Planting:</h2>You can also dig rows for seeds or seedlings. For larger plants, you can use the Hori Hori to dig
    holes.
    The measurements down the middle make it perfect for measuring how deep your holes are. You can either use it like
    you would a trowel or depending on how loose your soil is, sometimes raking the dirt toward you might be quicker.
    Then you can use the measurements to determine whether you need to go deeper, if the hole is the right depth, or
    if you need to backfill a little. You can use the Hori Hori to plant anything you would with a trowel. It works
    for seeds, seedlings, root vegetables, or even transplanting larger plants.<br>
    <br>
    <h2> Harvesting:</h2>As I mentioned above the Hori Hori is great for cutting herbs, vegetables, like rosemary or
    squash. It
    can also help you harvest root vegetables. All you have to do is repeat the process for pulling up deep-rooted
    weeds.<br>
    <br>
    <h2>Removing stumps and roots:</h2>Like I mentioned already, the Hori Hori can help remove deep-rooted weeds but it
    can
    also help remove small stumps of old bushes and trees. Since it’s also a knife it can cut through the roots easier
    than a trowel and it’s a much better tool for prying. It can also cut through and remove sod and grass much
    easier.<br>
    <br>
    <br>
    <h3><i>The Hori Hori’s applications don’t stop at the garden. You can also take it camping with you, so here a few
        more
        uses for the Hori Hori in the campsite.</i></h3><br>
        <br>
        <br>
    <h2>Tent stakes:</h2>Sometimes it can be almost impossible to stake your tent (or pull the stakes out) because the
    ground
    is so tough. We have thick clay soil here in Texas and when it dries out in the summer it becomes as hard as a
    rock. Since the Hori Hori is both a knife and a shovel it’s great for cutting through and loosening the hard soil
    so you can hammer your tent stakes in or pry them out when you’re ready to leave.<br>
    <br>
    <h2>Cutting tinder and kindling:</h2>Sometimes when I’m out in the forest looking for firewood I’ll find a stick that’s just
    the right thickness to get my fire going but it’s too long to fit in the fire pit and too thick to break by hand.
    Now I can just chop and/or saw the stick up into smaller pieces that will fit in my fire pit.<br>
    <br>
   <h2> Moving hot coals around:</h2>We often use charcoal bricks when we’re cooking outdoors so we have to move them around
    often when we’re cooking multiple dishes. Usually, we’ll have a pair of tongs handy but it’s not real camping trip
    unless you forget something, that’s why I love tools that have multiple uses. Since the Hori Hori is part knife it’s
    long enough to move a few aside charcoal bricks without getting burned, and since it’s part shovel we can also scoop
    them up and move them to another dutch oven.<br>
    <br>
    </p>
  </section>

  

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        GARDEN KNIFE
      </span>
    </div>
  </div>

  <!--back to top start-->

  <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>

    <!--back to top end-->
</body>

</html>