{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloves</title>
    <link rel="stylesheet" href="{% static 'css_info/gardening_tools/gloves.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="new.js"></script>

    <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->


  <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
    <button
      class="navbar-toggler btn-outline-light"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>
    
    <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#reason">Reason for using</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#cloth">Cloth Gloves</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#leather">Leather Gloves</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#rubber">Rubber Coated Gloves</a>
        </li>

        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#nitrile">Nitrile Gloves</a>
        </li>
        <li class="nav-item">
          <a class="home-nav-link nav-link" href="#disposable">Disposable Gloves</a>
        </li>
        {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="home-nav-link nav-link" href="/logout/">Logout</a>
              </li>
              {% endif %}
      </ul>
    </div>
  </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Gloves
            </span>
        </div>
    </div>
            <section class="section section-dark reason" id="reason">
                <h2 style="font-size: xx-large;">Reason For Using</h2>
                <p>
                    Keep hands and fingernails clean and dry ,avoid blisters and calluses ,prevent cuts and scrapes, or protect existing cuts and scrapes from infection.<br>
Protect against insect bites or stings protect skin from harmful chemicals like herbicides, pesticides and fungicides.<br> Protection from fungal infections contracted by certain plants or gardening materials

                </p>
            </section>

            <div class="pimg2">
                <div class="ptext">
                <span class="border">
                    Type of Gloves
                </span>
                </div>
             </div>
            
            <section class="section section-dark cloth" id="cloth">
                <h2 style="font-size: xx-large;">Cloth Gloves</h2>
                <p>
                    These are the most common and inexpensive gloves.<br>
                    They are usually made from knit jersey or cotton and are machine washable.<br>
                    Their main purpose is to keep hands clean and they offer very little protection to the hands, but they are cooler and breathable.
                </p>
            </section>

            <div class="pimg3">
            </div>

            <section class="section section-dark leather" id="leather">
                <h2 style="font-size: xx-large;">Leather Gloves</h2>
                <p>
                    These are more expensive but they are usually waterproof and protect the hands better from thorns, cuts and scrapes.<br>
                    Rose gloves are usually made from leather.
                </p>
            </section>

            <div class="pimg4">
            </div>

            <section class="section section-dark rubber" id="rubber">
                <h2 style="font-size: xx-large;">Rubber Coated Gloves </h2>
                <p>
                    These are the best gloves for protecting hands while using chemicals such as herbicides, pesticides and fungicides.<br>
                    However, hands can get pretty hot and sweaty in them, and if you have a latex allergy you should avoid them.
                </p>
            </section>

            <div class="pimg5">
            </div>

            <section class="section section-dark nitrile" id="nitrile">
                <h2 style="font-size: xx-large;">Neoprene or Nitrile Gloves</h2>
                <p>
                    These gloves are made from a synthetic rubber material so they can protect hands from chemicals and cuts and scrapes.<br>
                    They are also made to be breathable and flexible.<br>
                    However, nasty thorns can still puncture through them.
                </p>
            </section>

            <div class="pimg6">
            </div>

            <section class="section section-dark disposable" id="disposable">
                <h2 style="font-size: xx-large;">Disposable Gloves</h2>
                <p>
                    These aren’t technically gardening gloves, but can be useful for handling manure and pesticides.<br>Since they’re disposable, you can just throw them away when you’re done.<br>Look for disposable gloves at your pharmacy, medical-supply store or grocery store.
                </p>
            </section>

            <div class="pimg7">
            </div> 

            <!--back to top start-->

          <script>
            //Get the button
            var mybutton = document.getElementById("myBtn");
            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }
            
            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
            </script>

            <!--back to top end-->
</body>
</html>