{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rake</title>

    <link rel="stylesheet" href="{% static 'css_info/gardening_tools/rake.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">


     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

     <!-- <a href="register">register</a><br>
    <a href="login">login</a><br> -->

    
    
    <!-- Navbar section -->

  

    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
      <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#intro">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#type">Types</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="#step">Steps</a>
          </li>
          {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="home-nav-link nav-link" href="/logout/">Logout</a>
                </li>
                {% endif %}
        </ul>
      </div>
    </nav>

  <div class="pimg1">
      <div class="ptext">
          <span class="border">
              RAKE TOOL
          </span>
      </div>
  </div>

  <section class="section section-dark" id="intro">

   

   <p> A rake (Old English raca, cognate with Dutch raak, German Rechen, from the root meaning "to scrape together", "heap up") is a broom for outside use; a horticultural implement consisting of a toothed bar fixed transversely to a handle, 
    or tines fixed to a handle, and used to collect leaves, hay, grass, etc., and in gardening, for loosening the soil, light weeding and levelling, removing dead grass from lawns, and generally for purposes performed in agriculture by the harrow.
    Large mechanized versions of rakes are used in farming, called hay rakes, are built in many different forms (e.g. star-wheel rakes, rotary rakes, etc.). Nonmechanized farming may be done with various forms of a hand rake.
    
     </p>
  </section>

  <div class="pimg2">

      <section class="section section-dark" id="type">
        <h1>TYPES</h1>
        <p >
          
          Modern hand-rakes usually have steel, plastic, or bamboo teeth or tines, though historically they have been made with wood or iron. The handle is often made of wood or metal. Some rakes are two-sided and made with dull blades in the shapes of slight crescents, 
          used for removing dead grass (thatch) from lawns. When rakes have longer teeth, they may be arranged in the shape of an old-style folding fan.
        </p>
      </section>
  </div>
  
  <div class="pimg3">

  <section class="section section-dark" id="step">
    <h1>STEPS</h1>
    <p>
      1)PLACE THE RINES ON THE FLOOR AND APPLY LITTLE BIT PRESSURE<br>
      2)DRAG THE RAKE TO GATHER MATERIAL<br>
      3)YOU CAN ALSO USE GLOVES TO REDUCE THE POSSIBILITY OF FORMING BLISTERS.
    </p>
  </section>

 </div>

 <!--back to top start-->

 <script>
  //Get the button
  var mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>

  <!--back to top end-->
  

 
</body>
</html>