{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content+"width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content+"ie+edge">
    <title>Papaya Tree</title>
    <link rel="stylesheet" href="{% static 'css_info/gardening_tools/sawstyle.css' %}">
  </head>
  <body>
    <div class="pimg1">
      <div class="ptext">
        <span class="border">
          Pruning Saw
        </span>
      </div>
    </div>

    <section class="section section-dark">
      <p>
        A pruning saw is a tool with the same sharp teeth as saws used for cutting lumber. But pruning saws are intended to help you trim larger shrubs and smaller tree branches.
      </p>
    </section>

  <div class="pimg2">
    </div>

    <section class="section section-dark">
      <h2>When to use?</h2>
      <p>
        Shrubs and trees will need shaping and pruning from time to time, not to mention those woody weeds like briars that will need to be tackled too.
  If you are wondering when to use pruning saws, here’s a good rule of thumb. If the branch or trunk you want to trim is under 1.5 inches (3.81 cm.) in diameter, consider a hand pruner. If the wood is that thick or thicker, it is prudent to use a pruning saw.  
      </p>
    </section>

    <div class="pimg3">
      <div class="ptext">
      </div>
    </div>
  </body>
</html>
