{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPADE &#127793;</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css_info/gardening_tools/spade.css' %}">
    <link rel="stylesheet" href="{% static 'css_info/navbar.css' %}">
    
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>
  <script src="{% static 'js/scroll.js' %}"></script>

  <button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>  <!--back to top button-->

    <!-- Navbar section -->

    <div>
      <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
        <a class="navbar-brand" href="/"><img src="{% static 'images/tree2.png' %}" height="40px"></a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/">Home</a>
          </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#intro">INTRODUCTION</a>
            </li>

            <li class="nav-item">
              <a class="home-nav-link nav-link" href="#use">HOW TO USE</a>
            </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
 
    <div class="pimg1">

        <div class="ptext">
            <span class="border">
                 SPADE
            </span>
        </div>
    </div>

    <section class="section section-dark" id="intro">

      <h1>INTRODUCTION</h1>

     <p> A spade is a tool primarily for digging, comprising a blade – typically stunted and curved. A spade is a hand tool used to dig or loosen ground, or to break up lumps in the soil. This would be the tool of choice for digging a planting hole, a trench or a ditch.
          The blade or digging end, made of metal, is sharp. The upper edge is dull, and is where the digger can place his foot to help force the sharp end into the ground. Besides the basic hole digging, the spade is handy for slicing off sod in preparation for using an area for planting. It works well for loosening soil and breaking up any clumps of dirt.</p>
    </section>

    <div class="pimg2">

        <section class="section section-dark" id="use">
          <h1>HOW TO USE</h1>
          <p >
            For spades, the basic technique is to insert the blade into the ground, using one foot to push down on the ledge at the top of the blade, called the “step.” Spades should be pushed into the ground vertically to create a straight edge.The handle is grasped in two areas.
             One hand is on the top while the other is farther down the handle or stem. The sharp end of the blade is pointed downward, away from the toes. If the soil is hard and difficult to slice into, stand with one foot firmly on the ground while placing the other foot on the top edge of the blade and exert pressure as you push with your arms. Push forward and upward as the blades penetrates the ground.




          </p>
        </section>
    </div>

    <!--back to top start-->

    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>

      <!--back to top end-->
    
    

            
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>
