{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HAND TROWEL  &#127793;</title>

    <link rel="stylesheet" href="{% static 'css_info/gardening_tools/trowel.css' %}">
   
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="new.js"></script>

     <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
     
</head>
<body>
    <!-- <a href="register">register</a><br>
    <a href="login">login</a><br> -->

    
    
    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="/">Trial 1</a>
      <button
        class="navbar-toggler btn-outline-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      
      <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/information/">Plant Information</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/functionality/">Maps</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/register/">Register</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/login/">Login</a>
          </li>
          {% endif %}
          
          <!-- <li class="nav-item">
            <a class="home-nav-link nav-link" href="/about/">About us</a>
          </li>
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="home-nav-link nav-link" href="/logout/">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
 
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
              HAND TROWEL  
            </span>
        </div>
    </div >
    <div class="pimg">
    <section class="section section-dark">
    
      <h1>Introduction</h1>

     <p>  A trowel is a small hand tool used for digging, applying, smoothing, or moving small amounts of viscous or particulate material. Common varieties include the masonry trowel, garden trowel, and float trowel.<br>
      A power trowel is a much larger gasoline or electrically powered walk-behind device with rotating paddles used to finish concrete floors.
       </p>
    </section>
    </div>

    <div class="pimg2">

        <section class="section section-dark">
          <h1>GARDEN TROWEL</h1>
          <p >
            A hand tool with a pointed, scoop-shaped metal blade and wooden, metal, or plastic handle. It is comparable to a spade or shovel, but is generally much smaller, being designed for use with one hand. It is used for breaking up earth, digging small holes, especially for planting and weeding, mixing in fertilizer or other additives, and transferring plants to pots.
          </p>
        </section>
    </div>
    
    <div class="pimg3">

    <section class="section section-dark">
      <h1>WHEN TO USE</h1>
      <p>
        When to use a gardening trowel depends on the job at hand. Garden trowels are used for digging small holes, such for planting bulbs, annuals or perennials. It would take a lot of time and effort to dig a hole for a tree or shrub with a garden trowel. Garden trowels are also used to dig up weeds. In small, tight areas, a narrow width blade will work better to dig out weeds or to install small plants or bulbs. Flat trowel blades work better on weeds with long taproots. Wider trowel blades and scoop-shaped blades work best for digging up small plants, digging holes for perennials, or scooping up soil when potting plants.
      </p>
    </section>

   </div>   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


</body>
</html>