{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watercan</title>
    <link rel="stylesheet" href="{% static 'css_info/gardening_tools/watercan.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script> <!--chart.js-->

   <!-- Google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/">Trial 1</a>
        <button
          class="navbar-toggler btn-outline-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
        
        <div class="collapse home-nav-collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/information/">Plant Information</a>
            </li>
  
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/functionality/">Maps</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/geofence/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/geofence/display_maps/">Review</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/register/">Register</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/login/">Login</a>
            </li>
            {% endif %}
            
            <!-- <li class="nav-item">
              <a class="home-nav-link nav-link" href="/about/">About us</a>
            </li>
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/contact_us/">Contact us</a>
            </li> -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="home-nav-link nav-link" href="/logout/">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Watering Can
            </span>
        </div>
    </div>
            <section class="section section-dark">
                <h2>Information</h2>
                <p>
                    The capacity of the container can be anywhere from 0.5 litres (for indoor household plants) to 10 litres (for general garden use).<br>
                    It is usually made of metal, ceramic or plastic.<br>
                    At the end of the spout, a "rose" (a device, like a cap, with small holes) can be placed to break up the stream of water into droplets, to avoid excessive water pressure on the soil or on delicate plants.
                    

                </p>
            </section>

            <div class="pimg2">
             </div>
            
            <section class="section section-dark">
                <h2>Uses</h2>
                <p>
                    A watering can (or watering pot) is a portable container, usually with a handle and a funnel, used to water plants by hand.<br>
                    Apart from watering plants, it has varied uses, as it is a fairly versatile tool.
                </p>
            </section>

            <div class="pimg3">
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</body>
</html>